@charset "utf-8";

$rc: 'Journal Sans New';
$ps: 'Journal Sans New';

.path_block {
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	color: #676767;
	padding-bottom: 27px;

	@media all and (max-width: 1024px) {
		padding-bottom: 17px;
	}

	a {
		color: #177DF4;
		text-decoration: none;
	}

	span {
		display: inline-block;
		padding: 0 5px;
	}
}

h1 {
	margin-bottom: 40px;
	font-weight: 700;
	font-size: 35px;
	line-height: 1;

	@media all and (max-width: 1024px) {
		margin-bottom: 20px;
		font-size: 25px;
	}
}

.page_content_wr {
	position: relative;
	padding: 40px 10px 20px;

	@media all and (max-width: 1024px){
		padding-top: 30px;
	}
}

.tab_block_wrap {
	font-size: 0;
	margin: 0 -10px;

	@media all and (max-width: 767px) {
		margin: 0 -5px;
	}

	.tabs_title {
		padding: 0 0 39px;

		@media all and (max-width: 767px){
			padding-bottom: 22px;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;

			li {
				display: inline-block;
				vertical-align: top;
				flex: 0 0 calc(25% - 20px);
				margin: 0 10px;
				cursor: pointer;
				background: #F8F8F8;
				box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.07);
				border-radius: 7px;
				padding: 19px 20px;
				text-align: center;
				font-weight: 700;
				font-size: 16px;
				line-height: 100%;
				text-transform: uppercase;
				transition: all 0.3s;
				color: #333333;
				position: relative;

				@media all and (max-width: 767px) {
					padding: 10px 24px 10px;
					margin: 0 5px;
					flex: 0 0 auto
				}

				&:before {
					content: '';
					position: absolute;
					top: 100%;
					left: 0;
					right: 0;
					width: 0; 
					height: 0; 
					border-left: 13px solid transparent;
					border-right: 13px solid transparent;
					border-top: 15px solid #177DF4;
					margin: 0 auto;
					opacity: 0;
					transition: all 0.3s;
				}

				&:hover {
					background: #177DF4;
					color: #fff;

					&:before {
						opacity: 1;
					}
				}

				&.active {
					background: #177DF4;
					color: #fff;

					&:before {
						opacity: 1;
					}
				}
			}
		}
	}

	.tab_block {

		.tabs_b {
			display: none;

			&.active {
				display: block;
			}
		}
	}
}

.catalog_list {
	display: flex;
	flex-wrap:wrap;
	align-items: flex-start;
	position: relative;

	@media all and (max-width: 600px) {
		display: block;
	}

	.catalog {
		flex: 0 0 calc(25% - 20px);
		margin: 0 10px 20px;
		display: flex;

		.catalog_in {
			cursor: pointer;
			text-decoration: none;
			min-height: 109px;
			padding: 27px 16px;
			background: #FFFFFF;
			box-shadow: 0px 36px 68px rgba(172, 172, 172, 0.22);
			border-radius: 10px;
			transition: all 0.3s;
			position: relative;
			display: flex;
			align-items: center;
			width: 100%;

			&:before {
				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				width: 0; 
				height: 0; 
				border-left: 13px solid transparent;
				border-right: 13px solid transparent;
				border-top: 15px solid #177DF4;
				margin: 0 auto;
				opacity: 0;
				transition: all 0.3s;
			}
		}

		@media all and (max-width: 1200px) {
			flex: 0 0 calc(33.33% - 20px);
		}

		@media all and (max-width: 900px) {
			flex: 0 0 calc(50% - 20px);
			min-height: 90px;
		}

		@media all and (max-width: 600px) {
			margin-bottom: 10px;
		}

		.icon {
			flex: 0 0 32px;
			height: 32px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 10px;

			.norm {
				transition: all 0.3s;
			}

			.hov {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				opacity: 0;
				transition: all 0.3s;
			}
		}

		.name {
			flex: 1 1 auto;
			font-weight: 400;
			font-size: 18px;
			line-height: 100%;
			color: #000000;
			transition: all 0.3s;
		}

		&:hover {
			.catalog_in {
				background: #177DF4;

				.icon {

					.norm {
						opacity: 0;
					}

					.hov {
						opacity: 1;
					}
				}

				.name {
					color: #fff;
				}
			}
		}

		.active_block {
			position: absolute;
			top: 0;
			left: 10px;
			right: 10px;
			background: #FFFFFF;
			border: 1px solid #177DF4;
			border-radius: 10px;
			z-index: 10;
			opacity: 0;
			visibility: hidden;

			.close_catalog {
				position: absolute;
				top: 20px;
				right: 20px;
				width: 50px;
				height: 36px;
				cursor: pointer;
				background: url("data:image/svg+xml,%3Csvg width='33' height='18' viewBox='0 0 33 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 17L16.3367 0.999999L32 17' stroke='%23F14E4E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
				
				@media all and (max-width: 767px) {
					display: none;
				}
			}

			.list_links {
				padding: 50px 56px 40px;
				display: flex;

				@media all and (max-width: 1200px) {
					padding: 50px 20px 20px;
				}

				@media all and (max-width: 767px) {
					padding: 30px 20px 10px;
					display: block;
				}

				.lists {
					flex: 0 0 33.33%;
					padding-right: 70px;

					@media all and (max-width: 1200px){
						flex: 0 0 50%;
						padding-right: 20px;
					}

					@media all and (max-width: 767px) {
						padding: 0 0 20px;
					}
				}

				.title {
					font-weight: 700;
					font-size: 18px;
					line-height: 100%;
					text-transform: uppercase;
					color: #333333;
					padding-bottom: 13px;

					@media all and (max-width: 767px) {
						font-size: 16px;
						padding-bottom: 10px;
					}
				}

				ul {
					padding: 0;
					margin: 0;
					list-style: none;

					li {

						a{
							padding: 13px 0;
							text-decoration: none;
							font-weight: 400;
							font-size: 18px;
							line-height: 100%;
							color: #333333;
							text-decoration: none;
							transition: all 0.3s;
							display: inline-block;

							@media all and (max-width: 767px){
								font-size: 16px;
								padding: 10px 0;
							}

							&:hover {
								color: #177DF4;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}

		&.active {

			.active_block {
				opacity: 1;
				visibility: visible;
			}

			.catalog_in {
				background: #177DF4;

				&:before {
					opacity: 1;
				}

				.icon {

					.norm {
						opacity: 0;
					}

					.hov {
						opacity: 1;
					}
				}

				.name {
					color: #fff;
				}
			}
		}
	}
}

.brends_block {

	.brends_list {
		display: flex;

		@media all and (min-width: 1025px) {
			flex-wrap: wrap;
		}

		@media all and (max-width: 1024px) {
			overflow: auto;
			padding: 0 0 1px;
			margin-bottom: 10px;
			margin-top: -20px;
		}

		a {
			display: inline-block;
			vertical-align: top;
			text-decoration: none;
			padding: 26px 10px;
			background: #FFFFFF;
			box-shadow: 0px 36px 68px rgba(172, 172, 172, 0.22);
			border-radius: 10px;
			flex: 0 0 126px;
			margin: 0 10px 20px;

			@media all and (max-width: 1024px){
				flex: 0 0 84px;
				margin: 20px 6px 20px;
				padding: 15px 9px;
			}
		}
	}
}

.letters_map {
	padding: 30px 10px 33px;

	@media all and (max-width: 767px){
		display: none;
	}

	.letters_map_list {
		display: inline-block;
		vertical-align: top;
		padding: 0;
		margin: 0;
		list-style: none;
		margin-right: 60px;
		margin-bottom: 15px;

		li {
			display: inline-block;
			vertical-align: top;
			padding: 0 8px;

			a {
				font-weight: 700;
				font-size: 25px;
				line-height: 100%;
				color: #177DF4;
				text-decoration: none;
				transition: all 0.3s;

				&:hover {
					color: #f14e4e;
					text-decoration: underline;
				}
			} 
		}
	}
}

.letter_select {
	margin-bottom: 30px;

	@media all and (min-width: 768px) {
		display: none;
	}

	.name_select {
		padding-bottom: 8px;
		font-weight: 700;
		font-size: 12px;
		line-height: 18px;
		color: #333333;
	}

	.select_drop {
		position: relative;

		.select_drop_name {
			cursor: pointer;
			background: #FFFFFF;
			border-radius: 6px;
			height: 36px;
			box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.13);
			padding: 0 11px;
			font-weight: 400;
			font-size: 12px;
			line-height: 36px;
			color: #333333;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				right: 10px;
				width: 17px;
				height: 12px;
				margin: auto;
				background: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.38327 1L6.14097 5.98315L11 1' stroke='%235A5863' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
			}
		}

		.select_down {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			padding: 0;
			margin: 0;
			list-style: none;
			margin-top: 5px;
			background: #FFFFFF;
			border-radius: 6px;
			box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.13);
			display: none;

			li {
				cursor: pointer;
				font-size: 14px;
				padding: 10px 11px;
			}
		}
	}
}

.letters_box {
	padding: 0 10px 20px;
	border-bottom: 1px solid #D9D9D9;
	margin-bottom: 40px;

	&:last-child{
		border: none;
	}

	@media all and (max-width: 767px) {
		display: none;

		&.active {
			display: block;
		}
	}

	&_section {
		padding-bottom: 25px;

		h2 {
			font-weight: 700;
			font-size: 35px;
			line-height: 100%;
			color: #A0A0A0;
			margin: 0 0 20px;
		}

		&_list {
			padding: 0;
			margin: 0;
			list-style: none;

			li {
				a {
					font-weight: 400;
					font-size: 25px;
					line-height: 150%;
					color: #177DF4;
					display: inline-block;
					vertical-align: top;
					text-decoration: none;
					transition: all 0.3s;

					&:hover{
						color: #f14e4e;
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.grid { 
	-moz-column-gap: 18px;
	-webkit-column-gap: 18px;
	column-gap: 18px;
	column-fill: balance;
}

.grid-item {
    width: 100%;
	-webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

@media only screen and (max-width: 479px) {
    .grid {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px){
    .grid {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
    .grid {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media only screen and (min-width: 1201px) {
    .grid {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

.search_result {
	margin-bottom: 19px;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	color: #676767;

	span {
		display: inline-block;
		vertical-align: middle;
		padding: 0 9px;
		background: #F14E4E;
		border-radius: 7px;
		height: 20px;
		line-height: 20px;
		font-weight: 700;
		font-size: 16px;
		color: #FFFFFF;
		margin-left: 5px;
	}

	@media all and (max-width: 1000px){
		display: none;
	}
}

.sort_panel {
	padding-bottom: 20px;
	display: flex;
	align-items: flex-start;

	.sort_left_panel {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		padding-top: 8px;

		@media all and (max-width: 1000px) {
			flex-wrap: wrap;
			padding: 0;
		}

		.name_sort {
			margin-right: 10px;
			font-weight: 400;
			font-size: 16px;
			line-height: 100%;
			color: #676767;

			@media all and (max-width: 1000px) {
				width: 100%;
				margin-bottom: 9px;
			}
		}

		.sort_btn {
			padding-right: 22px;
			margin-right: 17px;
			font-weight: 400;
			font-size: 16px;
			line-height: 100%;
			color: #177DF4;
			position: relative;
			cursor: pointer;

			&:before {
				content: '';
				position: absolute;
				top: 3px;
				bottom: 0;
				right: 0;
				width: 20px;
				height: 6px;
				background: url("data:image/svg+xml,%3Csvg width='21' height='6' viewBox='0 0 21 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.999999L4.95785 5L9 1' stroke='%23177DF4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 5L15.9579 1L20 5' stroke='%23177DF4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
				margin: auto;
			}
		}
	}

	.nds_text {
		font-weight: 400;
		font-size: 16px;
		line-height: 100%;
		color: #60C339;
		padding-right: 17px;
		padding-top: 8px;

		@media all and (max-width: 1000px) {
			display: none;
		}
	}

	.sort_display {
		display: flex;
		align-items: center;
		flex: 0 0 100px;

		@media all and (max-width: 1000px) {
			display: none;
		}

		a {
			flex: 0 0 24px;
			height: 24px;
			margin-left: 12px;
			position: relative;
			cursor: pointer;

			&:first-child {
				margin-left: 0;
			}

			i {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}

			&.block {
				i {
					background: url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 3.5C2.32843 3.5 3 2.82843 3 2C3 1.17157 2.32843 0.5 1.5 0.5C0.671573 0.5 0 1.17157 0 2C0 2.82843 0.671573 3.5 1.5 3.5Z' fill='%23177DF4'/%3E%3Cpath d='M9.5 3.5C10.3284 3.5 11 2.82843 11 2C11 1.17157 10.3284 0.5 9.5 0.5C8.67157 0.5 8 1.17157 8 2C8 2.82843 8.67157 3.5 9.5 3.5Z' fill='%23177DF4'/%3E%3Cpath d='M17.5 3.5C18.3284 3.5 19 2.82843 19 2C19 1.17157 18.3284 0.5 17.5 0.5C16.6716 0.5 16 1.17157 16 2C16 2.82843 16.6716 3.5 17.5 3.5Z' fill='%23177DF4'/%3E%3Cpath d='M1.5 11.5C2.32843 11.5 3 10.8284 3 10C3 9.17157 2.32843 8.5 1.5 8.5C0.671573 8.5 0 9.17157 0 10C0 10.8284 0.671573 11.5 1.5 11.5Z' fill='%23177DF4'/%3E%3Cpath d='M9.5 11.5C10.3284 11.5 11 10.8284 11 10C11 9.17157 10.3284 8.5 9.5 8.5C8.67157 8.5 8 9.17157 8 10C8 10.8284 8.67157 11.5 9.5 11.5Z' fill='%23177DF4'/%3E%3Cpath d='M17.5 11.5C18.3284 11.5 19 10.8284 19 10C19 9.17157 18.3284 8.5 17.5 8.5C16.6716 8.5 16 9.17157 16 10C16 10.8284 16.6716 11.5 17.5 11.5Z' fill='%23177DF4'/%3E%3Cpath d='M1.5 19.5C2.32843 19.5 3 18.8284 3 18C3 17.1716 2.32843 16.5 1.5 16.5C0.671573 16.5 0 17.1716 0 18C0 18.8284 0.671573 19.5 1.5 19.5Z' fill='%23177DF4'/%3E%3Cpath d='M9.5 19.5C10.3284 19.5 11 18.8284 11 18C11 17.1716 10.3284 16.5 9.5 16.5C8.67157 16.5 8 17.1716 8 18C8 18.8284 8.67157 19.5 9.5 19.5Z' fill='%23177DF4'/%3E%3Cpath d='M17.5 19.5C18.3284 19.5 19 18.8284 19 18C19 17.1716 18.3284 16.5 17.5 16.5C16.6716 16.5 16 17.1716 16 18C16 18.8284 16.6716 19.5 17.5 19.5Z' fill='%23177DF4'/%3E%3C/svg%3E%0A") 50% no-repeat;
				}

				&.current i{
					background: url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 3.5C2.32843 3.5 3 2.82843 3 2C3 1.17157 2.32843 0.5 1.5 0.5C0.671573 0.5 0 1.17157 0 2C0 2.82843 0.671573 3.5 1.5 3.5Z' fill='%23F14E4E'/%3E%3Cpath d='M9.5 3.5C10.3284 3.5 11 2.82843 11 2C11 1.17157 10.3284 0.5 9.5 0.5C8.67157 0.5 8 1.17157 8 2C8 2.82843 8.67157 3.5 9.5 3.5Z' fill='%23F14E4E'/%3E%3Cpath d='M17.5 3.5C18.3284 3.5 19 2.82843 19 2C19 1.17157 18.3284 0.5 17.5 0.5C16.6716 0.5 16 1.17157 16 2C16 2.82843 16.6716 3.5 17.5 3.5Z' fill='%23F14E4E'/%3E%3Cpath d='M1.5 11.5C2.32843 11.5 3 10.8284 3 10C3 9.17157 2.32843 8.5 1.5 8.5C0.671573 8.5 0 9.17157 0 10C0 10.8284 0.671573 11.5 1.5 11.5Z' fill='%23F14E4E'/%3E%3Cpath d='M9.5 11.5C10.3284 11.5 11 10.8284 11 10C11 9.17157 10.3284 8.5 9.5 8.5C8.67157 8.5 8 9.17157 8 10C8 10.8284 8.67157 11.5 9.5 11.5Z' fill='%23F14E4E'/%3E%3Cpath d='M17.5 11.5C18.3284 11.5 19 10.8284 19 10C19 9.17157 18.3284 8.5 17.5 8.5C16.6716 8.5 16 9.17157 16 10C16 10.8284 16.6716 11.5 17.5 11.5Z' fill='%23F14E4E'/%3E%3Cpath d='M1.5 19.5C2.32843 19.5 3 18.8284 3 18C3 17.1716 2.32843 16.5 1.5 16.5C0.671573 16.5 0 17.1716 0 18C0 18.8284 0.671573 19.5 1.5 19.5Z' fill='%23F14E4E'/%3E%3Cpath d='M9.5 19.5C10.3284 19.5 11 18.8284 11 18C11 17.1716 10.3284 16.5 9.5 16.5C8.67157 16.5 8 17.1716 8 18C8 18.8284 8.67157 19.5 9.5 19.5Z' fill='%23F14E4E'/%3E%3Cpath d='M17.5 19.5C18.3284 19.5 19 18.8284 19 18C19 17.1716 18.3284 16.5 17.5 16.5C16.6716 16.5 16 17.1716 16 18C16 18.8284 16.6716 19.5 17.5 19.5Z' fill='%23F14E4E'/%3E%3C/svg%3E%0A") 50% no-repeat;
				}
			}

			&.list {

				i {
					background: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1H17' stroke='%23177DF4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.00098 6H17.0002' stroke='%23177DF4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.00098 11H17.0002' stroke='%23177DF4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.00098 16H17.0002' stroke='%23177DF4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
				}

				&.current i {
					background: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1H17' stroke='%23F14E4E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.00098 6H17.0002' stroke='%23F14E4E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.00098 11H17.0002' stroke='%23F14E4E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.00098 16H17.0002' stroke='%23F14E4E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
				}
			}

			&.table {

				i {
					background: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 2H23' stroke='%23177DF4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.00098 10H23.0002' stroke='%23177DF4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.00098 18H23.0002' stroke='%23177DF4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.5 3.5C2.32843 3.5 3 2.82843 3 2C3 1.17157 2.32843 0.5 1.5 0.5C0.671573 0.5 0 1.17157 0 2C0 2.82843 0.671573 3.5 1.5 3.5Z' fill='%23177DF4'/%3E%3Cpath d='M1.5 11.5C2.32843 11.5 3 10.8284 3 10C3 9.17157 2.32843 8.5 1.5 8.5C0.671573 8.5 0 9.17157 0 10C0 10.8284 0.671573 11.5 1.5 11.5Z' fill='%23177DF4'/%3E%3Cpath d='M1.5 19.5C2.32843 19.5 3 18.8284 3 18C3 17.1716 2.32843 16.5 1.5 16.5C0.671573 16.5 0 17.1716 0 18C0 18.8284 0.671573 19.5 1.5 19.5Z' fill='%23177DF4'/%3E%3C/svg%3E%0A") 50% no-repeat;
				}

				&.current i {
					background: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 2H23' stroke='%23F14E4E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.00098 10H23.0002' stroke='%23F14E4E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.00098 18H23.0002' stroke='%23F14E4E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.5 3.5C2.32843 3.5 3 2.82843 3 2C3 1.17157 2.32843 0.5 1.5 0.5C0.671573 0.5 0 1.17157 0 2C0 2.82843 0.671573 3.5 1.5 3.5Z' fill='%23F14E4E'/%3E%3Cpath d='M1.5 11.5C2.32843 11.5 3 10.8284 3 10C3 9.17157 2.32843 8.5 1.5 8.5C0.671573 8.5 0 9.17157 0 10C0 10.8284 0.671573 11.5 1.5 11.5Z' fill='%23F14E4E'/%3E%3Cpath d='M1.5 19.5C2.32843 19.5 3 18.8284 3 18C3 17.1716 2.32843 16.5 1.5 16.5C0.671573 16.5 0 17.1716 0 18C0 18.8284 0.671573 19.5 1.5 19.5Z' fill='%23F14E4E'/%3E%3C/svg%3E%0A") 50% no-repeat;
				}
			}
		}
	}
}

.content_main {
	display: flex;

	@media all and (max-width: 1000px){
		display: block;
	}

	.left_content_panel {
		flex: 0 0 240px;
		margin-right: 25px;

		@media all and (max-width: 1000px){
			margin: 0 0 10px;
		}
	}

	.right_content{
		flex: 1 1 auto;
	}

	.right_content_products {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -12.5px;

		@media all and (max-width: 1309px) {
			margin: 0 -6px;
		}

		.item_product {
			margin: 0 12.5px 20px;
			box-sizing: border-box;
			box-shadow: 0px 36px 68px rgba(163, 163, 163, 0.22);

			 &:hover {
		        box-shadow: 0px 36px 68px rgba(23, 125, 244, 0.22), inset 0 0 0 1px #177DF4;

		        .price {

		            strong {
		                color: #f14e4e;
		            }
		        }

		        .btn_item {
		            opacity: 1;
		            visibility: visible;
		        }
		    }

			@media all and (min-width: 1310px) {
				flex: 0 0 calc(25% - 25px);
			}

			@media all and (min-width: 800px) and (max-width: 1309px) {
				flex: 0 0 calc(33.33% - 12px);
				margin: 0 6px 20px;
			}

			@media all and (max-width: 800px) {
				flex: 0 0 calc(50% - 12px);
				margin: 0 6px 10px;
			}
		}
	}
}

.filter_btn_mobile {
	width: 100%;
	height: 35px;
	background: #F14E4E;
	border-radius: 7px;
	cursor: pointer;
	font-weight: 700;
	font-size: 14px;
	line-height: 35px;
	letter-spacing: -0.01em;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;

	&:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 12px;
		height: 12px;
		background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.630371 0H11.3698C11.4667 3.29986e-08 11.5615 0.0281367 11.6426 0.0809903C11.7238 0.133844 11.7879 0.209139 11.8271 0.297723C11.8663 0.386308 11.8789 0.484368 11.8634 0.579986C11.8479 0.675604 11.8049 0.764662 11.7398 0.836336L7.63013 5.35697C7.54646 5.449 7.5001 5.56892 7.5001 5.6933V9.23241C7.5001 9.31472 7.47977 9.39576 7.44093 9.46834C7.40209 9.54091 7.34594 9.60277 7.27745 9.64843L5.27745 10.9818C5.20215 11.032 5.11463 11.0608 5.02424 11.0652C4.93384 11.0695 4.84396 11.0493 4.76417 11.0066C4.68438 10.9639 4.61767 10.9003 4.57116 10.8227C4.52466 10.745 4.5001 10.6562 4.5001 10.5657V5.6933C4.5001 5.56892 4.45373 5.449 4.37007 5.35697L0.260401 0.836336C0.195243 0.764662 0.152306 0.675604 0.136811 0.579986C0.121315 0.484368 0.133927 0.386308 0.173114 0.297723C0.212302 0.209139 0.276376 0.133844 0.357551 0.0809903C0.438726 0.0281367 0.533506 3.29986e-08 0.630371 0Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
		margin-left: 7px;
	}
}

@media all and (min-width: 1001px) {

	.filter_btn_mobile {
		display: none;
	}
}

.filter_block {
	position: relative;
	padding: 3px 15px 20px;
	background: #FFFFFF;
	border-radius: 10px;
	z-index: 50;

	@media all and (max-width: 1000px){
		padding: 3px 10px 20px;
		display: none;
	}

	.filter_field {
		border-bottom: 1px solid #F1F1F1;
		padding: 20px 0;

		@media all and (max-width: 1000px){
			border: none;
			padding: 10px 0;
		}

		.filter_field_name {
			cursor: pointer;
			padding-left: 21px;
			font-weight: 700;
			font-size: 16px;
			line-height: 100%;
			color: #177DF4;
			transition: all 0.3s;
			position: relative;

			&.new {
				color: #f14e4e;
			}

			&:before {
				border-radius: 50%;
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 15px;
				height: 15px;
				background: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.999999 0.999999L4.46312 4.5L8 1' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat #177DF4;
				transition: all 0.3s;
			}
		}

		&.active {

			.filter_field_name {
				color: #f14e4e;

				&:before {
					transform: rotate(180deg);
					background: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.999999 0.999999L4.46312 4.5L8 1' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat #F14E4E;
				}
			}
		}

		.filter_field_body {
			padding-top: 20px;
			display: none;

			.filter_menu {
				padding: 0;
				margin: 0;
				list-style: none;

				li {
					margin-bottom: 16px;

					&:last-child{
						margin-bottom: 0;
					}

					a {
						padding: 0;
						font-weight: 400;
						font-size: 16px;
						line-height: 100%;
						color: #333333;
						text-decoration: none;
						display: inline-block;

						&:hover {
							color: #177df4;
						}
					}
				}
			}
		}

		.filter_checkbox {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                margin-bottom: 16px;

                &:last-child{
                	margin-bottom: 0;
                }

                label {
                    position: relative;
                    padding-left: 21px;
                    font-weight: 400;
					font-size: 16px;
					line-height: 100%;
					color: #333333;
                    cursor: pointer;
                    display: inline-block;

                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                    }

                    span {
                    	color: #333333;
                    }

                    i {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 15px;
                        height: 15px;
                        background-color: #E7E8ED;
						border: 0.5px solid #DADADA;
						border-radius: 2px;
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        transition: all 0.3s;
                        z-index: 1;
                    }

                    input:checked + i {
                    	background-color: #FFFFFF;
						border: 1px solid #E8E8E8;
                        background-image: url("data:image/svg+xml,%3Csvg width='7' height='7' viewBox='0 0 7 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.73976 0.937682C6.44685 0.713128 6.02542 0.745569 5.79827 1.00953L2.80363 4.49404L1.24056 2.57706C1.0074 2.29134 0.572883 2.2379 0.270134 2.4577C-0.0328825 2.67763 -0.0894946 3.08785 0.143668 3.37396L2.24167 5.94697C2.47484 6.23268 2.90949 6.28625 3.21237 6.06633C3.29872 6.00361 3.36259 5.92443 3.40787 5.83791L6.8594 1.82213C7.08643 1.55779 7.03281 1.16198 6.73976 0.937682Z' fill='%23F14E4E'/%3E%3C/svg%3E%0A");
                    }
                }
            }
        }
	}

	.btn_fiter {
		padding: 17px 0 17px;

		.btn {
			width: 100%;
			box-shadow: none;
		}
	}

	.clear_btn {
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		color: #F14E4E;
		cursor: pointer;
		text-align: center;
		margin-bottom: 10px;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			margin-right: 4px;
			width: 18px;
			height: 18px;
			background: url("data:image/svg+xml,%3Csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5625 3.9375L4.4375 14.0625' stroke='%23F14E4E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.5625 14.0625L4.4375 3.9375' stroke='%23F14E4E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
		}
	}

	@media all and (max-width: 1000px) {
		.btn_fiter {
			padding: 0;
			display: inline-block;
			vertical-align: middle;
			width: 144px;
			margin: 10px 15px 10px 0;

			.btn {
				padding: 11px 11px;
				background: #5A5863;
			}
		}

		.clear_btn {
			display: inline-block;
			vertical-align: middle;
			width: 132px;
			margin: 0;
			color: #5a5863;

			&:before {
				background: url("data:image/svg+xml,%3Csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5625 3.9375L4.4375 14.0625' stroke='%235A5863' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.5625 14.0625L4.4375 3.9375' stroke='%235A5863' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
			}
		}
	}

	.slider_price {

		.inputs {
			display: flex;
			align-items: center;
			padding-top: 19px;

			input {
				width: 100%;
				flex: 0 0 calc(50% - 5px);
				height: 36px;
				box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.13);
				padding: 0 10px;
				text-align: center;
				font-weight: 400;
				font-size: 12px;
				line-height: 18px;
				color: #333333;
				outline: none;
				background: #FFFFFF;
				border-radius: 6px;
				border: none;
			}

			span {
				flex: 0 0 10px;
				text-align: center;
				font-size: 12px;
			}
		}
	}

	.noUi-target {
	    background: #D9D9D9;
	    border: none;
	    outline: none;
	    height: 3px;
	}

	.noUi-connect {
	    background: #F14E4E;
	}

	.noUi-horizontal .noUi-handle {
	    cursor: pointer;
	    background: #F14E4E;
	    width: 11px;
	    height: 11px;
	    box-shadow: none;
	    border-radius: 50%;
	    top: -4px;
	    right: -4px;
	    border: none;

	    &:before,&:after {
	        display: none;
	    }
	}

	.result_filter {
		position: absolute;
		left: 100%;
		margin: -13px 0 0 -32px;
		padding: 4px 4px 4px 15px;
		background: #5A5863;
		border-radius: 8px;
		display: flex;
		align-items: center;
		width: 292px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
		box-shadow: 1px 6px 45px rgba(23, 125, 244, 0.28);

		@media all and (max-width: 1000px) {
			display: none;
		}

		&.opened {
			opacity: 1;
			visibility: visible;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: -17px;
			bottom: 0;
			width: 0; 
			height: 0; 
			border-left: 13px solid transparent;
			border-right: 13px solid transparent;
			border-top: 15px solid #5A5863;
			margin: auto;
			transform: rotate(90deg);
		}

		.result {
			flex: 1 1 auto;
			font-weight: 400;
			font-size: 14px;
			line-height: 18px;
			color: #FFFFFF;
			padding-right: 10px;
		}

		.btn {
			height: 37px;
			line-height: 37px;
			font-weight: 700;
			font-size: 14px;
			line-height: 37px;
			width: 97px;
			padding: 0;
			text-align: center;
		}
	}
}

.page_list {
	padding: 30px 0;
	display: flex;
	align-items: center;
	justify-content: center;

	.arrow_page {
		flex: 0 0 36px;
		height: 36px;
		width: 36px;
		border: 1px solid #E8E8E8;
		border-radius: 6px;
		position: relative;
		transition: all 0.3s;
		margin: 0 5px;
		cursor: pointer;

		@media all and (max-width: 1024px){
			background: #fff;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transition: all 0.3s;
			background: url("data:image/svg+xml,%3Csvg width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L10 9.90516L1 19' stroke='%235A5863' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
		}

		&.prev {
			&:before {
				transform: rotate(180deg);
			}
		}

		&:hover {
			background: #177DF4;
			border-color: #177DF4;

			&:before {
				background: url("data:image/svg+xml,%3Csvg width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L10 9.90516L1 19' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
			}
		}
	}

	.number_page,.or_page {
		flex: 0 0 36px;
		height: 36px;
		width: 36px;
		border: 1px solid #E8E8E8;
		border-radius: 6px;
		position: relative;
		transition: all 0.3s;
		margin: 0 5px;
		font-weight: 400;
		font-size: 18px;
		line-height: 34px;
		color: #5A5863;
		text-align: center;
		display: inline-block;
		vertical-align: top;
		text-decoration: none;
		
		@media all and (max-width: 1024px){
			background: #fff;
		}
	}

	.active_page {
		flex: 0 0 36px;
		height: 36px;
		width: 36px;
		border: 1px solid #177DF4;
		border-radius: 6px;
		position: relative;
		transition: all 0.3s;
		margin: 0 5px;
		font-weight: 400;
		font-size: 18px;
		line-height: 34px;
		color: #177DF4;
		text-align: center;
	}
}


.right_content_products.list_products {
	display: block;
	margin: 0;
}

.item_product.type-list {
	width: 100%;
	margin: 0 0 10px !important;
	flex-direction: row;
	padding: 0;

	.image {
		flex: 0 0 233px;
		border-right: 1px solid #EFEFEF;
		position: relative;
		margin: 0 0 0 1px;

		@media all and (max-width: 1000px){
			flex: 0 0 150px;
			height: auto;
		}
	}

	.middle {
		flex: 1 1 auto;
		padding: 33px 39px 20px 46px;
		border-right: 1px solid #EFEFEF;

		@media all and (max-width: 1224px){
			padding: 20px 20px;
		}

		.params {
			padding: 3px 0 0;
			margin: 0;
			list-style: none;

			li {
				font-weight: 400;
				font-size: 12px;
				line-height: 18px;
				color: #A0A0A0;
			}
		}
	}

	.right {
		flex: 0 0 387px;
		padding: 33px 39px 20px 53px;

		@media all and (max-width: 1224px){
			padding: 20px 20px;
			flex: 0 0 280px;
		}

		@media all and (max-width: 1000px){
			flex: 0 0 200px;
		}
	}

	@media all and (max-width: 600px) {
		display: block;

		.image {
			border: none;
		}

		.middle{
			padding: 10px;
		}

		.right {
			padding: 10px;
		}

		.btn {
			width: 100%;
		}
	}

	.item_bottom {
		padding-top: 9px;
		padding-bottom: 27px;

		@media all and (max-width: 1224px){
			padding-bottom: 15px;
			padding-top: 0;
		}
	}

	.btns_text {
		display: flex;
		align-items: center;

		@media all and (max-width: 1224px){
			display: block;
		}

		.text_prod {
			flex: 1 1 auto;
			padding: 0 0 0 16px;
			font-weight: 400;
			font-size: 12px;
			line-height: 18px;
			color: #A0A0A0;

			@media all and (max-width: 1224px){
				padding: 10px 0 0;
			}
		}
	}
}

.table_products_wrap {
	padding: 24px 11px;
	background: #FFFFFF;
	box-shadow: 0px 36px 68px rgba(163, 163, 163, 0.22);
	border-radius: 10px;

	@media all and (max-width: 1200px){
		padding: 10px;
	}

	.table_products_title {
		display: flex;
		padding-bottom: 18px;

		@media all and (max-width: 1200px) {
			display: none;
		}

		.row {
			font-weight: 400;
			font-size: 16px;
			line-height: 100%;
			color: #333333;
		}

		.foto {
			flex: 0 0 107px;
		}

		.art {
			flex: 0 0 96px; 
		}

		.name {
			flex: 1 1 auto;
		}

		.nal {
			flex: 0 0 120px;
		}

		.amount_val {
			flex: 0 0 110px;
		}

		.price {
			flex: 0 0 113px;
		}

		.amout {
			flex: 0 0 240px;
		}
	}

	.right_content_products.table_products {
		display: block;
		margin: 0;

		.item_product.type-table {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			box-shadow: none;
			padding: 20px 0;
			margin: 0 0 20px;
			border-bottom: 1px solid #D9D9D9;
			border-radius: 0;

			@media all and (max-width: 1200px) {
				flex-wrap: wrap;
				padding: 10px 0;
			}

			&:last-child {
				border: none;
				margin-bottom: 0;
			}

			&:hover {
				box-shadow: none;
			}

			.image {
				flex: 0 0 107px;
				height: auto;
				padding-left: 34px;
				position: relative;
				margin: 0;
				text-align: left;
				display: block;

				img {
					max-height: 53px;
					max-width: 53px;
				}
			}

			.for_ch {
				top: 0;
				bottom: 0;
				left: 0;
				margin: auto;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			.c_ch {
		        margin-bottom: 0;

		        label {
		            width: 15px;
		            height: 15px;

		            i {
		                width: 15px;
		                height: 15px;
		                background-color: #E7E8ED;
		            }

		            input:checked + i {
		                background-color: #E7E8ED;
		                background-image: url("data:image/svg+xml,%3Csvg width='7' height='7' viewBox='0 0 7 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.73976 0.937682C6.44685 0.713128 6.02542 0.745569 5.79827 1.00953L2.80363 4.49404L1.24056 2.57706C1.0074 2.29134 0.572883 2.2379 0.270134 2.4577C-0.0328825 2.67763 -0.0894946 3.08785 0.143668 3.37396L2.24167 5.94697C2.47484 6.23268 2.90949 6.28625 3.21237 6.06633C3.29872 6.00361 3.36259 5.92443 3.40787 5.83791L6.8594 1.82213C7.08643 1.55779 7.03281 1.16198 6.73976 0.937682Z' fill='%23F14E4E'/%3E%3C/svg%3E%0A");
		                border-color: #E7E8ED;
		            }
		        }
		    }

			.articule {
				flex: 0 0 96px; 
				padding-top: 20px;
			}

			.name {
				flex: 1 1 auto;
				padding-right: 15px;

				@media all and (max-width: 1200px) {
					flex: none;
					width: 100%;
					padding: 10px 0;
				}
			}

			.stock {
				flex: 0 0 120px;
				padding-top: 20px;
			}

			.amount_val {
				padding-top: 20px;
				flex: 0 0 110px;
			}

			.prices {
				flex: 0 0 113px;
				padding-top: 12px;
			}

			.right {
				flex: 0 0 240px;
				padding-top: 9px;

				.item_bottom {
					display: flex;
				}

				.btn {
					width: 104px;
					text-align: center;
					height: 36px;
					line-height: 36px;
					padding: 0;
					font-size: 12px;
					margin: 0 0 0 6px;
				}
			}

			.text_prod {
				font-weight: 400;
				font-size: 12px;
				line-height: 18px;
				color: #A0A0A0;
				padding-top: 10px;
			}
		}
	}
}

.product_detail_wr {
	display: flex;
	align-items: flex-start;
	padding-bottom: 46px;

	@media all and (max-width: 1200px){
		flex-wrap: wrap;
	}

	.product_detail_images {
		flex: 0 0 421px;
		max-width: 421px;
		margin-right: 20px;

		.main_image {
			box-shadow: 0px 47px 63px rgba(0, 0, 0, 0.05);
			border-radius: 7px;
			background: #fff;

			.slick-arrow {
		        position: absolute;
		        top: 0;
		        bottom: 0;
		        margin: auto;
		        background: #CCCCCC;

		        &:before {
		            background: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.14002 1.7048L1.15686 6.4625L6.14001 11.3215' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
		        }

		        &.slick-prev {
		            left: 20px;
		        }

		        &.slick-next {
		            right: 20px;
		        }

		        &:hover {
		            background: #F14E4E;
		        }
		    }

			.item {
				display: block;
				text-decoration: none;
				text-align: center;

				img {
					display: inline-block;
					border-radius: 7px;
				}
			}
		}

		.thumbs_images {
			padding: 0 13px;

			.slick-arrow {
		        position: absolute;
		        top: 0;
		        bottom: 0;
		        margin: auto;
		        background: none;
		        width: 18px;

		        &:before {
		            background: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.14002 1.7048L1.15686 6.4625L6.14001 11.3215' stroke='%235A5863' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
		        }

		        &.slick-prev {
		            left: -13px;
		        }

		        &.slick-next {
		            right: -13px;
		        }

		        &:hover {
		            background: none;

		            &:before {
			            background: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.14002 1.7048L1.15686 6.4625L6.14001 11.3215' stroke='%235A5863' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
			        }
		        }
		    }

			.item {
				margin: 12px 5px;
				box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
				border-radius: 7px;
				background: #fff;
				height: 65px;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid transparent;
				padding: 1px;

				img {
					border-radius: 7px;
					height: auto;
					max-height: 63px;
				}

				&.slick-current {
					border-color: rgba(23, 125, 244, 0.3);
					box-shadow: 0px 5px 5px rgba(23, 125, 244, 0.1);
				}
			}
		}
	}

	.product_detail_params {
		flex: 1 1 auto;
		padding-right: 90px;

		@media all and (max-width: 1300px){
			padding-right: 20px;
		}

		@media all and (max-width: 1200px){
			flex: none;
			width: 100%;
			order:1;
			padding: 30px 0 0;
		}

		.name_params {
			font-weight: 700;
			font-size: 25px;
			line-height: 18px;
			color: #333333;
			padding-bottom: 25px;

			@media all and (max-width: 767px){
				font-size: 16px;
				line-height: 18px;
				padding-bottom: 15px;
			}
		}

		.params {
			padding: 0;
			margin: 0;
			list-style: none;

			li {
				margin-bottom: 22px;
				display: flex;
				align-items: flex-end;

				@media all and (max-width: 767px){
					margin-bottom: 15px;
				}

				i {
					flex: 1 1 auto;
					border-bottom: 1.5px dotted #E8E8E8;
					margin: 0 2px 5px;
				}

				strong {
					font-weight: 700;
					font-size: 14px;
					line-height: 18px;
					color: #5A5863;
					flex: 0 0 124px;

					@media all and (max-width: 767px) {
						flex: 0 0 auto
					}
				}

				a {
					text-decoration: none;
					color: #177DF4;
				}

				span {
					flex: 0 0 auto;
					font-weight: 400;
					font-size: 14px;
					line-height: 18px;
					color: #5A5863;
				}

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}

	.product_detail_right {
		flex: 0 0 356px;

		@media all and (max-width: 900px){
			flex: 1 1 auto
		}

		.c_ch {
	        margin-bottom: 14px;

	        label {
	            width: 23px;
	            height: 23px;

	            i {
	                width: 23px;
	                height: 23px;
	                background-color: #E7E8ED;
	            }

	            input:checked + i {
	                background-color: #E7E8ED;
	                background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.4677 0.895511C10.0186 0.551194 9.3724 0.600937 9.0241 1.00568L4.43233 6.34859L2.03562 3.40922C1.67811 2.97112 1.01184 2.88917 0.547629 3.2262C0.0830031 3.56343 -0.00380218 4.19243 0.353713 4.63113L3.57066 8.57642C3.92817 9.01451 4.59464 9.09665 5.05906 8.75943C5.19147 8.66327 5.28939 8.54185 5.35882 8.40919L10.6512 2.25167C10.9993 1.84634 10.9171 1.23944 10.4677 0.895511Z' fill='%23F14E4E'/%3E%3C/svg%3E%0A");
	                border-color: #E7E8ED;
	            }
	        }
	    }

	    .compare_btn {
	        width: 20px;
	        height: 20px;
	        background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 9C0 7.89543 0.895431 7 2 7C3.10457 7 4 7.89543 4 9V18C4 19.1046 3.10457 20 2 20C0.895431 20 0 19.1046 0 18V9Z' fill='%23E8E8E8'/%3E%3Cpath d='M8 2C8 0.895431 8.89543 0 10 0C11.1046 0 12 0.895431 12 2V18C12 19.1046 11.1046 20 10 20C8.89543 20 8 19.1046 8 18V2Z' fill='%23E8E8E8'/%3E%3Cpath d='M16 13C16 11.8954 16.8954 11 18 11C19.1046 11 20 11.8954 20 13V18C20 19.1046 19.1046 20 18 20C16.8954 20 16 19.1046 16 18V13Z' fill='%23E8E8E8'/%3E%3C/svg%3E%0A") 50% no-repeat;
	        transition: all 0.3s;
	        cursor: pointer;

	        &.active {
	            background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 9C0 7.89543 0.895431 7 2 7C3.10457 7 4 7.89543 4 9V18C4 19.1046 3.10457 20 2 20C0.895431 20 0 19.1046 0 18V9Z' fill='%235A5863'/%3E%3Cpath d='M8 2C8 0.895431 8.89543 0 10 0C11.1046 0 12 0.895431 12 2V18C12 19.1046 11.1046 20 10 20C8.89543 20 8 19.1046 8 18V2Z' fill='%235A5863'/%3E%3Cpath d='M16 13C16 11.8954 16.8954 11 18 11C19.1046 11 20 11.8954 20 13V18C20 19.1046 19.1046 20 18 20C16.8954 20 16 19.1046 16 18V13Z' fill='%235A5863'/%3E%3C/svg%3E%0A") 50% no-repeat;
	        }
	    }

	    .favorite_btn {
	        width: 14px;
	        height: 14px;
	        cursor: pointer;
	        background: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 23 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 20C11.5 20 0 13.6364 0 5.9091C0.000234082 4.54334 0.479151 3.21982 1.35533 2.16355C2.2315 1.10728 3.45085 0.383467 4.80607 0.115169C6.16128 -0.153128 7.56871 0.0506524 8.78905 0.691864C10.0094 1.33308 10.9673 2.37214 11.5 3.63239C12.0327 2.37214 12.9906 1.33308 14.2109 0.691869C15.4313 0.050655 16.8387 -0.153127 18.1939 0.115169C19.5491 0.383466 20.7685 1.10728 21.6447 2.16355C22.5208 3.21982 22.9998 4.54334 23 5.9091C23 13.6364 11.5 20 11.5 20Z' fill='%23E8E8E8'/%3E%3C/svg%3E%0A") 50% no-repeat;
	        background-size: cover;
	        transition: all 0.3s;
	        display: inline-block;
	        vertical-align: top;

	        &.active {
	            background: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 23 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 20C11.5 20 0 13.6364 0 5.9091C0.000234082 4.54334 0.479151 3.21982 1.35533 2.16355C2.2315 1.10728 3.45085 0.383467 4.80607 0.115169C6.16128 -0.153128 7.56871 0.0506524 8.78905 0.691864C10.0094 1.33308 10.9673 2.37214 11.5 3.63239C12.0327 2.37214 12.9906 1.33308 14.2109 0.691869C15.4313 0.050655 16.8387 -0.153127 18.1939 0.115169C19.5491 0.383466 20.7685 1.10728 21.6447 2.16355C22.5208 3.21982 22.9998 4.54334 23 5.9091C23 13.6364 11.5 20 11.5 20Z' fill='%23F14E4E'/%3E%3C/svg%3E%0A") 50% no-repeat;
	        	background-size: cover;
	        }
	    }

	    .articule {
	    	display: inline-block;
	    	vertical-align: top;
	    	margin-right: 10px;
	    	font-weight: 400;
			font-size: 14px;
			line-height: 18px;
			color: #A0A0A0;
	    }

	    .price_name {
	    	padding-top: 30px;
	    	font-weight: 400;
			font-size: 14px;
			line-height: 105.6%;
			color: #5A5863;
			padding-bottom: 10px;

	    }
	}

	@media all and (max-width: 767px) {
		.product_detail_images {
			width: 100%;
			flex: none;
			max-width: 100%;
			margin: 0 0 30px;

			.thumbs_images {
				display: none;
			}
		}

		.product_detail_right {
			width: 100%;
			flex: none;

			.price_name {
				padding-top: 15px;
			}
		}
	}

	.price {
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        strong {
            font-weight: 700;
            font-size: 24px;
            line-height: 105.6%;
            color: #333333;
            transition: all 0.3s;

            @media all and (max-width: 1024px)   {
                font-size: 14px;
            }
        }

        .info {
            flex: 0 0 13px;
            width: 13px;
            height: 13px;
            background: #E8E8E8 url("data:image/svg+xml,%3Csvg width='5' height='7' viewBox='0 0 5 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.59641 4.54993V4.27362C1.59641 4.03465 1.64744 3.8268 1.7495 3.65006C1.85157 3.47332 2.03826 3.28538 2.30959 3.08624C2.57097 2.89954 2.74273 2.7477 2.82487 2.6307C2.90951 2.51371 2.95183 2.38302 2.95183 2.23864C2.95183 2.07684 2.89208 1.95362 2.7726 1.86898C2.65311 1.78435 2.48633 1.74203 2.27225 1.74203C1.89886 1.74203 1.47319 1.864 0.995254 2.10795L0.588257 1.29023C1.14337 0.979066 1.73208 0.823486 2.3544 0.823486C2.86719 0.823486 3.27419 0.946706 3.57539 1.19314C3.87908 1.43958 4.03093 1.76817 4.03093 2.1789C4.03093 2.45272 3.9687 2.6892 3.84423 2.88834C3.71977 3.08748 3.48329 3.31152 3.13479 3.56045C2.89582 3.73719 2.74397 3.87161 2.67925 3.96371C2.61702 4.05581 2.5859 4.17654 2.5859 4.3259V4.54993H1.59641ZM1.47693 5.82693C1.47693 5.61783 1.53294 5.45976 1.64496 5.35273C1.75697 5.24569 1.92002 5.19217 2.1341 5.19217C2.34071 5.19217 2.50002 5.24693 2.61204 5.35646C2.72655 5.46599 2.7838 5.62281 2.7838 5.82693C2.7838 6.02359 2.72655 6.17917 2.61204 6.29367C2.49753 6.40569 2.33822 6.4617 2.1341 6.4617C1.925 6.4617 1.7632 6.40693 1.64869 6.29741C1.53418 6.18539 1.47693 6.02856 1.47693 5.82693Z' fill='%23A0A0A0'/%3E%3C/svg%3E%0A") 50% no-repeat;
            border-radius: 50%;
            transition: all 0.3s;
            position: relative;
            margin-left: 7px;

            .info_popup {
                position: absolute;
                top: 100%;
                background: #5A5863;
                border-radius: 8px;
                width: 200px;
                padding: 22px 10px;
                margin-top: 19px;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #FFFFFF;
                left: 50%;
                transform: translate3d(-50%, 0, 0);
                z-index: 12;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s;

                &:before {
                    content: '';
                    position: absolute;
                    top: -9px;
                    left: 0;
                    right: 0;
                    width: 17px;
                    height: 12px;
                    background: url("data:image/svg+xml,%3Csvg width='17' height='12' viewBox='0 0 17 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.34637 0L16.0258 11.8966H0.666901L8.34637 0Z' fill='%235A5863'/%3E%3C/svg%3E%0A") 50% no-repeat;
                    margin: 0 auto;
                }
            }

            &:hover {
                background: #177DF4 url("data:image/svg+xml,%3Csvg width='5' height='7' viewBox='0 0 5 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.59641 4.54993V4.27362C1.59641 4.03465 1.64744 3.8268 1.7495 3.65006C1.85157 3.47332 2.03826 3.28538 2.30959 3.08624C2.57097 2.89954 2.74273 2.7477 2.82487 2.6307C2.90951 2.51371 2.95183 2.38302 2.95183 2.23864C2.95183 2.07684 2.89208 1.95362 2.7726 1.86898C2.65311 1.78435 2.48633 1.74203 2.27225 1.74203C1.89886 1.74203 1.47319 1.864 0.995254 2.10795L0.588257 1.29023C1.14337 0.979066 1.73208 0.823486 2.3544 0.823486C2.86719 0.823486 3.27419 0.946706 3.57539 1.19314C3.87908 1.43958 4.03093 1.76817 4.03093 2.1789C4.03093 2.45272 3.9687 2.6892 3.84423 2.88834C3.71977 3.08748 3.48329 3.31152 3.13479 3.56045C2.89582 3.73719 2.74397 3.87161 2.67925 3.96371C2.61702 4.05581 2.5859 4.17654 2.5859 4.3259V4.54993H1.59641ZM1.47693 5.82693C1.47693 5.61783 1.53294 5.45976 1.64496 5.35273C1.75697 5.24569 1.92002 5.19217 2.1341 5.19217C2.34071 5.19217 2.50002 5.24693 2.61204 5.35646C2.72655 5.46599 2.7838 5.62281 2.7838 5.82693C2.7838 6.02359 2.72655 6.17917 2.61204 6.29367C2.49753 6.40569 2.33822 6.4617 2.1341 6.4617C1.925 6.4617 1.7632 6.40693 1.64869 6.29741C1.53418 6.18539 1.47693 6.02856 1.47693 5.82693Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") 50% no-repeat;

                .info_popup {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .old_price {
        padding-bottom: 30px;
        font-weight: 400;
        font-size: 14px;
        line-height: 105.6%;
        display: inline-block;
        text-decoration-line: line-through;
        color: #A0A0A0;

        @media all and (max-width: 767px) {
        	padding-bottom: 15px;
        }
    }

    .select_units {
    	margin-bottom: 30px;

    	@media all and (max-width: 767px) {
    		margin-bottom: 15px;
    	}

    	.name {
    		font-weight: 700;
			font-size: 12px;
			line-height: 18px;
			color: #333333;
			padding-bottom: 8px;
    	}

    	select {
    		box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.13);
    		border: none;
    		width: 100%;
    		height: 36px;
    		padding: 0 10px;
    		font-weight: 400;
			font-size: 12px;
			line-height: 18px;
			color: #333333;
			outline: none;
			background: #FFFFFF;
			border-radius: 6px;
    	}

    	.text {
    		font-weight: 400;
			font-size: 12px;
			line-height: 18px;
			color: #333333;
			padding-top: 8px;
    	}
    }

    .stock {
        margin-left: 19px;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #A0A0A0;

        &.yes {
            color: #60C339;
        }

        &.no {
            color: #F14E4E;
        }
    }

    .item_bottom {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 11;    
        margin-bottom: 30px;

        @media all and (max-width: 767px) {
        	margin-bottom: 15px;
        }
    }

    .btn {
    	width: 100%;
    }
}

.product_detail_body {
	padding-bottom: 48px;

	.name {
		font-weight: 700;
		font-size: 25px;
		line-height: 18px;
		color: #333333;
		padding-bottom: 20px;
	}

	.body {
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		color: #5A5863;
	}

	@media all and (max-width: 1200px){
		padding-bottom: 15px;

		.name {
			font-size: 16px;
			padding-bottom: 15px;
		}
	}
}

.cart_top {
	display: flex;
	align-items: center;
	margin-bottom: 30px;

	.timer_cart {
		padding-left: 24px;
		position: relative;
		font-weight: 400;
		font-size: 16px;
		line-height: 100%;
		color: #333333;
		flex: 1 1 auto;

		&:before{
			content: '';position: absolute;
			top: 0;
			left: 0;
			width: 19px;
			height: 19px;
			background: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 16.625C13.435 16.625 16.625 13.435 16.625 9.5C16.625 5.56497 13.435 2.375 9.5 2.375C5.56497 2.375 2.375 5.56497 2.375 9.5C2.375 13.435 5.56497 16.625 9.5 16.625Z' stroke='%23333333' stroke-miterlimit='10'/%3E%3Cpath d='M9.5 5.34375V9.5H13.6562' stroke='%23333333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
		}

		@media all and (max-width: 1024px) {
			font-size: 14px;
		}
	}

	.btn_clear_cart {
		cursor: pointer;
		font-weight: 400;
		font-size: 16px;
		line-height: 100%;
		color: #F14E4E;
	}

	@media all and (max-width: 767px) {
		display: block;
		margin-bottom: 15px;

		.timer_cart {
			margin-bottom: 28px;
		}
	}
}

.cart_panel_top {
	display: flex;
	align-items: center;
	background: #F1F1F1;
	border-radius: 7px;
	padding: 17px 31px 17px 20px;

	.row {
		font-weight: 400;
		font-size: 16px;
		line-height: 100%;
		color: #333333;
	}

	.check {
		flex: 0 0 107px;

		.field  {
			margin: 0;

			label {
				height: 15px;
			}
		}
	}

	.art {
		flex: 0 0 86px;
	}

	.name {
		flex: 1 1 auto;
	}

	.amount {
		flex: 0 0 149px;
	}

	.price_nds_no {
		flex: 0 0 140px;
	}

	.price_nds {
		flex: 0 0 120px;
	}

	.summ_nds_no {
		flex: 0 0 170px;
	}

	.summ_nds {
		flex: 0 0 182px;
	}

	.delete {
		flex: 0 0 59px;
		font-weight: 700;
	}

	@media all and (max-width: 1300px) {
		.amount {
			flex: 0 0 100px;
		}

		.price_nds_no {
			flex: 0 0 120px;
		}

		.price_nds {
			flex: 0 0 106px;
		}

		.summ_nds_no {
			flex: 0 0 140px;
		}

		.summ_nds {
			flex: 0 0 120px;
		}
	}

	@media all and (max-width: 1150px){
		display: none;
	}
}

.cart_item {
	padding-top: 30px;

	@media all and (max-width: 1150px){
		padding-top: 15px;
	}

	.cart_item_main {
		display: flex;
		align-items: flex-start;
		padding: 0 31px 17px 20px;
		border-bottom: 1px solid #D9D9D9;

		@media all and (max-width: 1150px){
			padding: 0 0 15px;
			flex-wrap: wrap;
		}

		.image {
			margin-top: 3px;
			flex: 0 0 107px;
			height: auto;
			padding-left: 34px;
			position: relative;
			margin: 0;
			text-align: left;
			display: block;

			img {
				max-height: 53px;
				max-width: 53px;
			}
		}

		.for_ch {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;

			@media all and (max-width: 1150px){
				bottom: auto;
			}
		}

		.c_ch {
	        margin-bottom: 0;

	        label {
	            width: 15px;
	            height: 15px;

	            i {
	                width: 15px;
	                height: 15px;
	                background-color: #E7E8ED;
	            }

	            input:checked + i {
	                background-color: #E7E8ED;
	                background-image: url("data:image/svg+xml,%3Csvg width='7' height='7' viewBox='0 0 7 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.73976 0.937682C6.44685 0.713128 6.02542 0.745569 5.79827 1.00953L2.80363 4.49404L1.24056 2.57706C1.0074 2.29134 0.572883 2.2379 0.270134 2.4577C-0.0328825 2.67763 -0.0894946 3.08785 0.143668 3.37396L2.24167 5.94697C2.47484 6.23268 2.90949 6.28625 3.21237 6.06633C3.29872 6.00361 3.36259 5.92443 3.40787 5.83791L6.8594 1.82213C7.08643 1.55779 7.03281 1.16198 6.73976 0.937682Z' fill='%23F14E4E'/%3E%3C/svg%3E%0A");
	                border-color: #E7E8ED;
	            }
	        }
	    }

		.articule {
			flex: 0 0 86px; 
			padding-top: 20px;
			font-weight: 400;
			font-size: 12px;
			line-height: 18px;
			color: #333333;
		}

		.name {
			flex: 1 1 auto;
			padding-right: 15px;
			font-weight: 400;
			font-size: 13px;
			line-height: 20px;
			color: #177DF4;

			a {
				text-decoration: none;
			}

			@media all and (max-width: 1150px){
				padding-right: 0;
				flex: 0 0 calc(100% - 107px);
			}
		}

		.amount {
			flex: 0 0 149px;
			padding-top: 10px;

			input {
				background: #FFFFFF;
				border-radius: 6px;
				border: none;
				box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.13);
				width: 91px;
				height: 36px;
				text-align: center;
				font-weight: 400;
				font-size: 12px;
				line-height: 18px;
				color: #333333;
				outline: none;
			}

			.vall {
				font-weight: 400;
				font-size: 12px;
				line-height: 18px;
				color: #A0A0A0;
				padding-top: 10px;
			}
		}

		.row {
			padding-top: 20px;
			font-weight: 400;
			font-size: 13px;
			line-height: 20px;
			color: #333333;
		}

		.price_nds_no {
			flex: 0 0 140px;
			
		}

		.price_nds {
			flex: 0 0 120px;
		}

		.summ_nds_no {
			flex: 0 0 170px;
		}

		.summ_nds {
			flex: 0 0 182px;
		}

		.name_mobile {
			font-weight: 400;
			font-size: 16px;
			line-height: 100%;
			color: #A0A0A0;
			display: inline-block;
			vertical-align: middle;
			margin-right: 12px;

			@media all and (min-width: 1151px) {
				display: none;
			}
		}

		@media all and (max-width: 1300px) {

			.amount {
				flex: 0 0 100px;
			}

			.price_nds_no {
				flex: 0 0 120px;
			}

			.price_nds {
				flex: 0 0 106px;
			}

			.summ_nds_no {
				flex: 0 0 140px;
			}

			.summ_nds {
				flex: 0 0 120px;
			}
		}

		.delete {
			flex: 0 0 59px;
			padding-top: 18px;
			text-align: center;

			.delete_btn {
				width: 24px;
				height: 24px;
				background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.25 5.25L3.75 5.25001' stroke='%23333333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.75 9.75V15.75' stroke='%23333333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.25 9.75V15.75' stroke='%23333333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18.75 5.25V19.5C18.75 19.6989 18.671 19.8897 18.5303 20.0303C18.3897 20.171 18.1989 20.25 18 20.25H6C5.80109 20.25 5.61032 20.171 5.46967 20.0303C5.32902 19.8897 5.25 19.6989 5.25 19.5V5.25' stroke='%23333333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.75 5.25V3.75C15.75 3.35218 15.592 2.97064 15.3107 2.68934C15.0294 2.40804 14.6478 2.25 14.25 2.25H9.75C9.35218 2.25 8.97064 2.40804 8.68934 2.68934C8.40804 2.97064 8.25 3.35218 8.25 3.75V5.25' stroke='%23333333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
				cursor: pointer;
				margin: 0 auto;
				font-size: 0;
				transition: all 0.3s;

				&:hover {
					background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.25 5.25L3.75 5.25001' stroke='%23F14E4E' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.75 9.75V15.75' stroke='%23F14E4E' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.25 9.75V15.75' stroke='%23F14E4E' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18.75 5.25V19.5C18.75 19.6989 18.671 19.8897 18.5303 20.0303C18.3897 20.171 18.1989 20.25 18 20.25H6C5.80109 20.25 5.61032 20.171 5.46967 20.0303C5.32902 19.8897 5.25 19.6989 5.25 19.5V5.25' stroke='%23F14E4E' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.75 5.25V3.75C15.75 3.35218 15.592 2.97064 15.3107 2.68934C15.0294 2.40804 14.6478 2.25 14.25 2.25H9.75C9.35218 2.25 8.97064 2.40804 8.68934 2.68934C8.40804 2.97064 8.25 3.35218 8.25 3.75V5.25' stroke='%23F14E4E' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
				}
			}
		}

		@media all and (max-width: 1150px) {
			.articule {
				flex: none;
				width: 100%;
				order: 1;
				padding-top: 15px;
			}
			.amount {
				flex: none;
				width: 100%;
				order: 1;
				padding-top: 15px;

				.vall {
					display: inline-block;
					vertical-align: middle;
					width: 70px;
					margin-left: 13px;
					padding-top: 0;
				}
			}

			.price_nds_no {
				flex: none;
				width: 100%;
				order: 1;
				padding-top: 15px;
			}

			.price_nds {
				flex: none;
				width: 100%;
				order: 1;
				padding-top: 15px;
			}

			.summ_nds_no {
				flex: none;
				width: 100%;
				order: 1;
				padding-top: 15px;
			}

			.summ_nds {
				flex: none;
				width: 100%;
				order: 1;
				padding-top: 15px;
			}

			.delete {
				order: 1;
				flex: none;
				padding-top: 15px;

				.delete_btn {
					padding-right: 34px;
					background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.25 5.25L3.75 5.25001' stroke='%23F14E4E' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.75 9.75V15.75' stroke='%23F14E4E' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.25 9.75V15.75' stroke='%23F14E4E' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18.75 5.25V19.5C18.75 19.6989 18.671 19.8897 18.5303 20.0303C18.3897 20.171 18.1989 20.25 18 20.25H6C5.80109 20.25 5.61032 20.171 5.46967 20.0303C5.32902 19.8897 5.25 19.6989 5.25 19.5V5.25' stroke='%23F14E4E' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.75 5.25V3.75C15.75 3.35218 15.592 2.97064 15.3107 2.68934C15.0294 2.40804 14.6478 2.25 14.25 2.25H9.75C9.35218 2.25 8.97064 2.40804 8.68934 2.68934C8.40804 2.97064 8.25 3.35218 8.25 3.75V5.25' stroke='%23F14E4E' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 100% 50% no-repeat !important;
					color: #F14E4E;
					font-weight: 700;
					font-size: 16px;
					line-height: 24px;
					width: auto;
					display: inline-block;
					vertical-align: top;
				}
			}
		}
	}

	.cart_item_bottom {
		padding: 9px 20px 6px;
		border-bottom: 1px solid #D9D9D9;
		display: flex;
		align-items: center;

		@media all and (max-width: 1024px) {
			flex-wrap: wrap;
			padding: 9px 0 6px;
		}

		.stock {
			margin: 2px 40px 2px 0;
			font-weight: 400;
			font-size: 13px;
			line-height: 20px;
			color: #60C339;

			@media all and (max-width: 1024px) {
				margin-right: 30px;
			}
		}

		.param {
			font-weight: 400;
			font-size: 13px;
			line-height: 20px;
			color: #A0A0A0;
			margin: 2px 40px 2px 0;

			@media all and (max-width: 1024px) {
				margin-right: 30px;
			}
		}
	}
}

.cart_main_bottom {
	padding: 30px 0 50px;
	display: flex;
	align-items: center;

	@media all and (max-width: 880px){
		padding: 15px 0 20px;
		flex-wrap: wrap;
	}

	.promocode {
		flex: 1 1 auto;
		display: flex;
		align-items: center;

		@media all and (max-width: 880px){
			width: 100%;
			flex: none;
			padding-bottom: 15px;
		}

		.name {
			font-weight: 700;
			font-size: 25px;
			line-height: 100%;
			color: #333333;
			margin-right: 10px;
		}

		.promocode_form {
			display: flex;
			align-items: center;
			flex: 0 0 331px;

			input {
				flex: 0 0 199px;
				border: none;
				outline: none;
				height: 36px;
				padding: 0 18px;
				box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.13);
				font-weight: 400;
				font-size: 12px;
				line-height: 18px;
				color: #333333;
				margin-right: 10px;
				background: #FFFFFF;
				border-radius: 6px;
				font-family: $rc;
			}

			.btn {
				flex: 0 0 122px;
				padding: 0;
				height: 36px;
				font-weight: 700;
				font-size: 14px;
				line-height: 36px;
			}
		}

		@media all and (max-width: 880px){
			width: 100%;
			flex: none;
			padding-bottom: 15px;

			.name {
				font-size: 16px;
			}

			.promocode_form {
				flex: 1 1 auto;

				input {
					flex: 1 1 auto;
					width: 100%;
				}

				.btn {
					flex: 0 0 106px;
					width: 106px;
				}
			}
		}
	}

	.total_sum {
		font-weight: 700;
		font-size: 25px;
		line-height: 20px;
		color: #333333;
		margin-right: 40px;
	}

	.recalculation {
		font-weight: 700;
		font-size: 14px;
		line-height: 34px;
		text-align: center;
		color: #F14E4E;
		height: 36px;
		width: 122px;
		border-color: #F14E4E;
		box-shadow: none;
	}

	@media all and (max-width: 580px){

		.recalculation {
			width: 100%;
		}

		.total_sum{
			padding-top: 20px;
			order: 1;
		}
	}
}

.cart_bottom_params {
	display: flex;
	align-items: flex-start;
	padding-bottom: 50px;

	@media all and (max-width: 767px){
		padding-bottom: 20px;
	}

	.left {
		flex: 0 0 356px;
		margin-right: 33px;

		@media all and (max-width: 767px){
			margin: 0;
			width: 100%;
			flex: none;
		}

		.params_c {
			padding: 0 0 40px;
			margin: 0;
			list-style: none;
			display: flex;
			flex-wrap:wrap;
			justify-content: space-between;

			li {
				flex: 0 0 calc(50% - 10px);
				font-weight: 700;
				font-size: 16px;
				line-height: 20px;
				color: #333333;
				padding-bottom: 10px;
			}

			@media all and (max-width: 767px) {
				padding-bottom: 5px;

				li {
					font-size: 14px;
				}
			}
		}

		.btn {
			display: block;
			width: 100%;
			padding: 0;
		}
	}

	.warning {
		flex: 1 1 auto;
		padding: 49px 29px;
		background: #FAEAE8;
		border-radius: 7px;

		@media all and (max-width: 1024px){
			padding: 28px 20px;
		}

		@media all and (max-width: 767px){
			display: none;
		}

		.name {
			font-weight: 700;
			font-size: 20px;
			line-height: 20px;
			color: #F14E4E;
			padding-bottom: 18px;
		}

		.body {
			font-weight: 400;
			font-size: 20px;
			line-height: 20px;
			color: #000000;
		}
	}
}

.col_3 {
	margin: 0 -10px;
	display: flex;
	align-items: flex-start;

	@media all and (max-width: 767px){
		margin: 0;
		display: block;
	}

	.field {
		flex: 0 0 calc(33.33% - 20px);
		margin-left: 10px;
		margin-right: 10px;

		@media all and (max-width: 767px){
			margin-left: 0;
			margin-right: 0;
		}

		&.checkbox {
			padding-top: 44px;

			@media all and (max-width: 767px){
				padding-top: 0;
			}
		}
	}

	
}

.field_btn {
	flex: 0 0 calc(33.33% - 20px);
	margin-left: 10px;
	margin-right: 10px;

	@media all and (max-width: 767px){
		margin: 0;
		padding-top: 20px;
	}

	.btn {
		display: block;
		padding: 0;
		max-width: 343px;
		width: 100%;
	}

	.field.checkbox {
		margin: 0;
		padding-top: 20px;
		max-width: 343px;

		label {
			font-size: 12px;
			line-height: 100%;
		}
	}
}

.opros_field {
	flex: 0 0 calc(33.33% - 20px);
	margin-left: 10px;
	margin-right: 10px;

	@media all and (max-width: 767px){
		margin: 0;
		padding-top: 30px;
	}

	.opros_name {
		font-weight: 700;
		font-size: 25px;
		line-height: 100%;
		color: #333333;
		padding-bottom: 12px;
	}

	.opros_text {
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		color: #333333;
		padding-bottom: 24px;

		span {
            color: #F14E4E;
        }
	}

	.field {
		margin: 0;
	}

	input[type="text"] {
		max-width: 343px;
	}

	.node {
		font-weight: 400;
		font-size: 12px;
		line-height: 100%;
		color: #A0A0A0;
		max-width: 310px;
		padding-top: 15px;
	}
}

.registration_from {
	padding-bottom: 50px;
}

.col_2 {
	margin: 0 -10px;
	display: flex;
	align-items: flex-start;

	@media all and (max-width: 767px){
		margin: 0;
		display: block;
	}

	.left {
		flex: 0 0 calc(50% - 20px);
		margin-left: 10px;
		margin-right: 10px;

		@media all and (max-width: 767px){
			margin-left: 0;
			margin-right: 0;
		}
	}

	.right {
		flex: 0 0 calc(50% - 20px);
		margin-left: 10px;
		margin-right: 10px;

		@media all and (max-width: 767px){
			margin-left: 0;
			margin-right: 0;
		}
	}

	.field {

		textarea {
			height: 221px;
		}
	}
}

.contacts_page {
	padding-bottom: 50px;
	display: flex;

	.contacts {
        flex: 0 0 310px;
        background: #FFFFFF;
        border-radius: 8px;
        padding: 54px 39px 66px;
        margin-right: 20px;

        .name {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #A0A0A0;
            padding-bottom: 9px;
        }

        .phone {
            padding-bottom: 11px;

            a {
                font-weight: 400;
                font-size: 20px;
                line-height: 26px;
                color: #414551;
                text-decoration: none;
                white-space: nowrap;
            }
        }

        .email {
            padding-bottom: 23px;

            a {
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #177DF4;
                text-decoration: none;
            }
        }

        .address {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #5A5863;
        }

        @media all and (max-width: 767px){
            padding: 27px 18px 25px;
            width: 100%;
            position: relative;
            top: auto;
            border-radius: 8px 8px 0 0;

            .name {
                padding-bottom: 12px;
            }

            .address {
                font-size: 12px;
                line-height: 15px;
            }

            .phone {
                width: 120px;
                margin-right: 36px;
                display: inline-block;
                vertical-align: top;
                padding-bottom: 15px;

                a{
                    font-size: 12px;
                    line-height: 15px;
                    display: inline-block;
                    vertical-align: top;
                    margin-bottom: 7px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .email {
                width: 120px;
                display: inline-block;
                vertical-align: top;
                padding-bottom: 15px;

                a{
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        }
    }

    .map_block {
    	flex: 1 1 auto;
    }

    @media all and (max-width: 767px){
    	display: block;

    	.contacts {margin-bottom: 20px;}
    }
}

.send_from {
	padding-bottom: 50px;

	.title {
		font-weight: 700;
		font-size: 25px;
		line-height: 100%;
		color: #333333;
		padding-bottom: 20px;
	}

	.field_btn {
		margin: 0;
	}
}

.delevery_page {
	padding-bottom: 50px;
	display: flex;
	align-items: flex-start;

	.text_block_main {
		margin-right: 20px;
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		color: #333333;

		p {
			margin: 20px 0;
		}

		h3 {
			font-weight: 400;
			font-size: 25px;
			line-height: 1;
			color: #333333;
			margin: 0 0 10px;
		}

		img {
			box-shadow: 0px 22px 45px rgba(0, 0, 0, 0.04);
			border-radius: 8px;
		}
	}

	@media all and (max-width: 767px){
    	display: block;

    	.text_block_main {
    		margin-bottom: 20px;

    		h3 {
    			font-size: 20px;
    		}
    	}
    }

	.contacts {
        flex: 0 0 310px;
        background: #FFFFFF;
        border-radius: 8px;
        padding: 54px 39px 66px;

        .name {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #A0A0A0;
            padding-bottom: 9px;
        }

        .phone {
            padding-bottom: 11px;

            a {
                font-weight: 400;
                font-size: 20px;
                line-height: 26px;
                color: #414551;
                text-decoration: none;
                white-space: nowrap;
            }
        }

        .email {
            padding-bottom: 23px;

            a {
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #177DF4;
                text-decoration: none;
            }
        }

        .address {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #5A5863;
        }

        @media all and (max-width: 767px){
            padding: 27px 18px 25px;
            width: 100%;
            position: relative;
            top: auto;
            border-radius: 8px 8px 0 0;

            .name {
                padding-bottom: 12px;
            }

            .address {
                font-size: 12px;
                line-height: 15px;
            }

            .phone {
                width: 120px;
                margin-right: 36px;
                display: inline-block;
                vertical-align: top;
                padding-bottom: 15px;

                a{
                    font-size: 12px;
                    line-height: 15px;
                    display: inline-block;
                    vertical-align: top;
                    margin-bottom: 7px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .email {
                width: 120px;
                display: inline-block;
                vertical-align: top;
                padding-bottom: 15px;

                a{
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        }
    }
}

.lk_page {
	display: flex;
	align-items: flex-start;
	padding-bottom: 50px;

	.left_panel_main {
		flex: 0 0 311px;
		padding: 12px 15px;
		background: #FFFFFF;
		border-radius: 10px;
		min-height: 400px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				border-bottom: 1px solid #F1F1F1;

				&:last-child {
					border: none;
				}

				a {
					padding: 20px 0;
					text-decoration: none;
					display: block;
					transition: all 0.3s;
					font-weight: 700;
					font-size: 16px;
					line-height: 100%;
					color: #177DF4;

					&:hover{
						color: #333333;
					}
				}

				&.opened {
					a {
						color: #333333;
					}
				}
			}
		}
	}

	.right_block_main {
		flex: 1 1 auto;
		margin-left: 20px;

		h3 {
			font-weight: 700;
			font-size: 25px;
			line-height: 100%;
			color: #333333;
			margin: 0 0 24px;
		}

		.lk_row {
			display: flex;

			@media all and (max-width: 767px){
				display: block;

				> span {
					display: none;
				}
			}

			span {
				font-weight: 400;
				font-size: 12px;
				line-height: 18px;
				color: #000000;
				flex: 0 0 20px;
				text-align: center;
				padding-top: 34px;
			}

			.field {
				flex: 0 0 calc(33.33% - 10px);
				margin-bottom: 20px;

				.field_name {
					font-weight: 700;
					font-size: 12px;
					line-height: 18px;
					padding-bottom: 8px;
				}

				select {
					border: none;
					box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.13);
				}

				&.multy {
					flex: 0 0 calc(66.66% - 10px);

					span {
						padding-top: 10px;
					}

					.selects_field {
						display: flex;

						.select {
							flex: 0 0 calc(50% - 10px);
						}
					}
				}
			}
		}
	}

	.field.checkbox {
		margin-bottom: 21px;
		font-size: 0;

		label {
			margin: 4px 18px 4px 0;

			@media all and (max-width: 767px){
				margin: 7px 15px 7px 0;

				&:last-child{
					margin-right: 0;
				}
			}

			i {
				background-color: #fff;
				top: 1px;
			}
		}
	}

	@media all and (max-width: 1024px){

    	.left_panel_main {
    		flex: 0 0 240px;
    		min-height: auto;
    	}
    }

	@media all and (max-width: 767px){
    	display: block;
    	padding-bottom: 20px;

    	.left_panel_main {
    		padding: 0;
    		margin-bottom: 20px;

    		ul {
    			font-size: 0;

    			li {
    				border: none;
    				border-right:none;
    				display: inline-block;
    				vertical-align: top;
    				margin-right: 10px;
    				margin-bottom: 10px;

    				&:last-child {
						border: none;
					}

    				a {
    					padding: 10px;
    					border: 1px solid #177DF4;
						border-radius: 7px;
						font-weight: 700;
						font-size: 14px;
						line-height: 100%;
						color: #177DF4;
    				}

    				&.opened {
    					
    					a {
    						background: #E7E8ED;
	    					border-color: #E7E8ED;
	    					color: #000;
    					}
    				}
    			}
    		}
    	}

    	.right_block_main {
    		margin: 0;

    		h3 {
    			font-size: 20px;
    		}
    	}
    }

	.search_btn {
		max-width: 200px;
		width: 100%;
		line-height: 1;
		height: auto;
	}	
}

.orders_items_wr {
	border-top: 1px solid #D9D9D9;
	margin-top: 50px;

	@media all and (min-width: 901px) and (max-width: 1200px){
		overflow: auto;
	}

	@media all and (max-width: 900px){
		margin-top: 30px;
		border: none;
	}

	.orders_title {
		display: flex;
		align-items: center;
		padding: 21px 0;

		.row {
			font-weight: 400;
			font-size: 16px;
			line-height: 100%;
			color: #333333;
			padding-right: 10px;
			white-space: nowrap;
		}

		.order {
			flex: 0 0 244px;
		}

		.summ {
			flex: 0 0 252px;
		}

		.status {
			flex: 1 0 120px;
		}

		.cancel {
			flex: 0 0 112px;
			padding-left: 0;
		}

		@media all and (max-width: 1024px) {
			.order {
				flex: 0 0 180px;
			}

			.summ {
				flex: 0 0 120px;
			}
		}

		@media all and (max-width: 900px){
			display: none;
		}
	}

	.order_item {

		@media all and (max-width: 900px) {
			display: flex;
			flex-direction: column;
		}

		.inner {
			display: flex;
			align-items: center;
			
			@media all and (max-width: 900px){
				display: block;
				width: 100%;
				order: 1;
			}

			.row {
				padding-top: 20px;
				padding-bottom: 17px;
				font-weight: 400;
				font-size: 16px;
				line-height: 100%;
				color: #333333;
				padding-right: 10px;
				white-space: nowrap;
				border-top: 1px solid #D9D9D9;
				border-bottom: 1px solid #D9D9D9;

				@media all and (max-width: 900px){
					border: none;
					padding: 7px 0;
				}
			}

			.title_mob {
				font-weight: 400;
				font-size: 14px;
				line-height: 100%;
				display: inline-block;
				width: 75px;
				color: #A0A0A0;


				@media all and (min-width: 901px) {
					display: none;
				}
			}

			.order {
				flex: 0 0 244px;

				a {
					text-decoration-line: underline;
					font-weight: 700;
					color: #177DF4;
				}
			}

			.summ {
				flex: 0 0 252px;
			}

			.status {
				flex: 1 0 120px;

				&.in_work {
					color: #60C339;
				}
			}

			.cancel {
				flex: 0 0 112px;
				padding-left: 0;

				@media all and (max-width: 900px) {
					color: #F14E4E;	
				}

				.btn_cancel {
					cursor: pointer;
				}
			}

			@media all and (max-width: 1024px) {
				.order {
					flex: 0 0 180px;
				}

				.summ {
					flex: 0 0 120px;
				}
			}
		}

		.time_order {
			padding-top: 5px;
			text-align: right;
			font-weight: 400;
			font-size: 13px;
			line-height: 20px;
			color: #F14E4E;
			padding-bottom: 5px;

			@media all and (max-width: 1024px) {
				text-align: left;
			}
		}
	}
}

.orders_products {

	@media all and (min-width: 901px) and (max-width: 1200px) {
		overflow: auto;
	}

	.orders_title {
		display: flex;
		align-items: center;
		padding: 21px 0 0;

		.row {
			font-weight: 400;
			font-size: 16px;
			line-height: 100%;
			color: #A0A0A0;
			padding-right: 10px;
			white-space: nowrap;
			padding-bottom: 10px;
			border-bottom: 1px solid #D9D9D9;

			strong {
				color: #333333;
				font-weight: 700;
			}
		}

		.name {
			flex: 0 0 353px;

			a {
				text-decoration-line: none;
				color: #177DF4;
			}
		}

		.amount {
			flex: 0 0 193px;
		}

		.price {
			flex: 1 0 120px;
		}

		@media all and (max-width: 1024px) {

			.amount {
				flex: 0 0 120px;
			}
		}
	}

	.order_product {
		display: flex;

		.row {
			font-weight: 400;
			font-size: 16px;
			line-height: 100%;
			color: #333333;
			padding-right: 10px;
			padding-bottom: 20px;
			padding-top: 20px;
			border-bottom: 1px solid #D9D9D9;
		}

		.name_mob {
			display: inline-block;
			margin-right: 8px;
			font-weight: 400;
			font-size: 14px;
			line-height: 100%;
			color: #A0A0A0;
		}

		@media all and (min-width: 901px){

			.name_mob {
				display: none;
			}
		}

		a {
			text-decoration: none;
		}

		.name {
			flex: 0 0 353px;
			padding-right: 60px;

			.name_mob {
				padding-bottom: 10px;

				@media all and (max-width: 900px){
					display: block;
				}
			}
		}

		.amount {
			flex: 0 0 193px;
			white-space: nowrap;
		}

		.price {
			flex: 1 0 120px;
			white-space: nowrap;

			span {
				color: #A0A0A0;
				display: block;
			}
		}

		@media all and (max-width: 1024px) {

			.amount {
				flex: 0 0 120px;
			}
		}
	}

	@media all and (max-width: 900px) {
		
		.orders_title {
			display: none;
		}

		.order_product {
			display: block;
			border-bottom: 1px solid #D9D9D9;
			padding: 10px 0;

			.row {
				padding: 10px 0;
				border: none;
			}

			.name {
				padding-right: 0;
			}

			.price {

				span {
					display: inline-block;
				}
			}
		}
	} 
}

.order_main_item {
	padding-bottom: 37px;

	@media all and (max-width: 1024px){
		padding-bottom: 0;
	}

	.order_main_item_title {
		display: flex;
		align-items: flex-end;
		border-bottom: 1px solid #D9D9D9;
		padding-bottom: 12px;

		@media all and (max-width: 1024px) {
			flex-wrap:wrap;
		}

		h3 {
			margin: 0 9px 0 0;

			@media all and (max-width: 767px) {
				font-size: 18px;
			}
		}

		.status {
			flex: 1 1 auto;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			margin-right: 10px;

			&.in_work {
				color: #60C339;
			}
		}



		.link {
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			color: #177DF4;
			text-decoration: none;
			margin-left: 44px;

			&.cencel {
				color: #F14E4E;
			}

			&:first-child{
				margin-left: 0;
			}
		}

		.links {
			display: flex;

			@media all and (max-width: 1024px) {
				flex: none;
				width: 100%;
				padding-top: 10px;
			}
		}
	}

	.order_main_item_body {
		padding: 28px 0 30px;
		display: flex;
		align-items: flex-end;
		border-bottom: 1px solid #D9D9D9;

		.data_user {
			flex: 1 1 auto;

			.data {
				margin: 0 0 15px;
				font-weight: 400;
				font-size: 16px;
				line-height: 20px;
				color: #333333;
				display: flex;

				&:last-child{
					margin-bottom: 0;
				}

				strong {
					display: inline-block;
					margin-right: 15px;
					white-space: nowrap;
				}
			}
		}

		.time_order {
			padding-top: 5px;
			text-align: right;
			font-weight: 400;
			font-size: 13px;
			line-height: 20px;
			color: #F14E4E;
			padding-bottom: 5px;

			@media all and (max-width: 1024px) {
				text-align: left;
			}
		}

		@media all and (max-width: 767px) {
			display: block;

			.data_user {
				padding-bottom: 20px;
			}
		}
	}
}

.order_total_summ {
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 20px;
	color: #333333;
	padding-top: 47px;

	@media all and (max-width: 1024px){
		padding-top: 20px;
	}
}

.credentials_form {

	.col_3 {

		.field.textarea {
			flex: 0 0 calc(66.66% - 20px);
		}
	}

	.btn.save {
		max-width: 130px;
	}
}

.note_lk{
	font-weight: 400;
	font-size: 12px;
	line-height: 100%;
	color: #A0A0A0;
	padding-bottom: 25px;
}

.yur_form {
	padding-bottom: 52px;

	@media all and (max-width: 1024px) {
		padding-bottom: 30px;
	}
}

.yur_story {
	padding: 16px 0;

	.yur_story_title {
		padding: 17px 30px;
		display: flex;
		align-items: flex-start;
		background: #F1F1F1;
		border-radius: 7px;

		@media all and (max-width: 1200px) {
			padding: 10px 10px;
		}

		.row {
			font-weight: 700;
			font-size: 16px;
			line-height: 100%;
			color: #333333;

			&.name {
				flex: 1 1 auto;
			}

			&.sklad {
				flex: 0 0 278px;

				@media all and (max-width: 1200px){
					flex: 0 0 100px;
					margin-left: 20px;
				}
			}
		}
	}

	.yur_story_body {
		padding-bottom: 40px;

		@media all and (max-width: 1200px){
			padding-bottom: 20px;
		}

		.story_body {
			padding: 18px 30px;
			border-bottom: 1px solid #F1F1F1;
			display: flex;
			align-items: flex-start;

			@media all and (max-width: 1200px) {
				padding: 10px 10px;
			}

			.row {
				font-weight: 400;
				font-size: 16px;
				line-height: 100%;
				color: #333333;

				.field.checkbox {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					margin: auto;

					label {
						margin: 0;
						padding: 0;
						width: 15px;
						height: 15px;
					}
				}

				&.name {
					flex: 1 1 auto;
					padding-left: 20px;
					position: relative;
				}

				&.sklad {
					flex: 0 0 278px;

					@media all and (max-width: 1200px){
						flex: 0 0 100px;
						margin-left: 20px;
					}
				}
			}
		}
	}

	.btns_yur_story {
		padding-bottom: 50px;

		@media all and (max-width: 1200px){
			padding-bottom: 20px;
		}

		.btn {
			margin-right: 20px;
			display: inline-flex;
			vertical-align: top;
		}

		.btn.add_address {
			box-shadow: none;
			background: none;
			margin-right: 0;

			&:after {
				content: '';
				margin-left: 4px;
				width: 10px;
				height: 10px;
				background: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L5.04215 5L1 1' stroke='%23333333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
			}

			&:hover {
				color: #F14E4E !important;
				border-color: #F14E4E;

				&:after {
					background: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L5.04215 5L1 1' stroke='%23F14E4E' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
				}
			}

			&.active {
				color: #F14E4E !important;
				border-color: #F14E4E;

				&:after {
					transform: rotate(180deg);
					background: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L5.04215 5L1 1' stroke='%23F14E4E' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
				}
			}
		}
	}
}

.add_address_form {
	display: none;
	justify-content: space-between;

	&.opened {
		display: flex;
	}

	@media all and (max-width: 640px){
		display: block;
	}

	.credentials_form {
		flex: 0 0 calc(50% - 64px);

		@media all and (max-width: 1200px) {
			flex: 0 0 calc(50% - 20px);
		}

		.field {
			margin-bottom: 20px;

			.field_name {
				font-weight: 700;
				padding-bottom: 14px;
			}
		}

		.btn {
			width: 100%;
			max-width: 100%;
		}
	}
}

.yur_data_comp {
	display: flex;
	padding-bottom: 30px;

	@media all and (max-width: 640px) {
		display: block;
		padding-bottom: 20px;
	}

	.left_data {
		flex: 0 0 250px;
		margin-right: 80px;

		@media all and (max-width: 1200px) {
			margin-right: 30px;
		}

		@media all and (max-width: 640px){
			margin: 0;
		}
	}

	.right_data {
		flex: 1 1 auto;
	}

	.data_item {
		margin-bottom: 14px;

		.name {
			padding-bottom: 10px;
			font-weight: 400;
			font-size: 13px;
			line-height: 18px;
			color: #A0A0A0;

			&.red {
				color: #F14E4E;
			}
		}

		.vall {
			font-weight: 700;
			font-size: 16px;
			line-height: 18px;
			color: #333333;

			a {
				text-decoration: none;
			}
		}
	}

	.inner {
		padding-bottom: 50px;

		@media all and (max-width: 1200px) {
			padding-bottom: 20px;
		}
	}
}

.yur_data_limit {
	display: flex;

	@media all and (max-width: 1000px) {
		display: block;
		padding-bottom: 20px;
	}

	.limit_data {
		flex: 0 0 301px;
		margin-right: 20px;

		@media all and (max-width: 1000px) {
			margin: 0 0 20px;
		}

		.name {
			font-weight: 700;
			font-size: 25px;
			line-height: 100%;
			color: #333333;
			padding-bottom: 18px;
		}

		.text {
			font-weight: 400;
			font-size: 13px;
			line-height: 18px;
			color: #A0A0A0;
			padding-bottom: 22px;
		}

		.progress {
			background: #D9D9D9;
			border-radius: 3px;
			height: 3px;

			.progress_inner {
				height: 3px;
				background: #F14E4E;
				border-radius: 3px;
			}
		}
	}	

	.limit_itmes {
		flex: 1 1 auto;
		display: flex;
		flex-wrap: wrap;

		.item {
			flex: 0 0 180px;
			margin-right: 40px;
			margin-bottom: 28px;

			&:nth-child(2n) {
				flex: 0 0 210px;
			}

			.name {
				font-weight: 700;
				font-size: 25px;
				line-height: 100%;
				color: #333333;
				padding-bottom: 20px;
			}

			.val {
				font-weight: 400;
				font-size: 25px;
				line-height: 18px;
				color: #333333;
			}
		}
	}
}

.users_yur {
	padding-top: 30px;

	.users_yur_title {
		padding: 17px 30px;
		display: flex;
		align-items: flex-start;
		background: #F1F1F1;
		border-radius: 7px;

		@media all and (max-width: 1200px) {
			padding: 10px 10px;
		}

		.row {
			font-weight: 700;
			font-size: 16px;
			line-height: 100%;
			color: #333333;
		}

		@media all and (max-width: 1000px){
			display: none;
		}
	}

	.name {
		flex: 0 0 300px;
		padding-right: 20px;

		@media all and (max-width: 1200px){
			flex: 0 0 200px;
		}
	}

	.email {
		flex: 1 1 auto;
		padding-right: 20px;				
	}

	.date {
		flex: 0 0 270px;

		@media all and (max-width: 1200px){
			flex: 0 0 200px;
		}
	}

	.users {
		padding: 18px 30px;
		border-bottom: 1px solid #F1F1F1;
		display: flex;
		align-items: flex-start;

		@media all and (max-width: 1200px) {
			padding: 10px 10px;
		}

		@media all and (max-width: 1000px) {
			display: block;

			.row {
				padding-bottom: 10px;
			}
		}

		.row {
			font-weight: 400;
			font-size: 16px;
			line-height: 100%;
			color: #333333;
		}
	}
}

.checkout_order {
	display: flex;
	padding-bottom: 60px;

	@media all and (max-width: 1280px){
		padding-bottom: 20px;
		display: block;
	}

	h1 {
		margin-bottom: 21px;
	}

	.left_block_main {
		flex: 1 1 auto;
		margin-right: 20px;

		@media all and (max-width: 1280px){
			margin: 0 0 20px;
		}
	}

	.orders_products {

		.order_product {

			.row {
				line-height: 120%;
			}

			.articule {
				padding: 13px 0 0;
				font-weight: 400;
				font-size: 12px;
				line-height: 18px;
				color: #A0A0A0;
			}

			.amount {
				padding-top: 40px;
			}
			
			.price {
				padding-top: 40px;

				span {
					color: #A0A0A0;
				}
			}
		}
	}

	.right_block_main {
		flex: 0 0 530px;

		@media all and (max-width: 1280px) {
			flex: 0 0 360px;
		}
		
		.order_detals {
			background: #FFFFFF;
			box-shadow: 0px 36px 68px rgba(163, 163, 163, 0.22);
			border-radius: 10px;
			padding: 40px;

			@media all and (max-width: 1280px){
				padding: 20px;
			}

			.title {
				font-weight: 700;
				font-size: 25px;
				line-height: 100%;
				color: #333333;
				padding-bottom: 20px;
			}

			.order_info {
				padding-bottom: 23px;

				&.order_info_summa {
					padding-bottom: 0;
				}

				ul {
					padding: 0;
					margin: 0;
					list-style: none;

					li {
						margin-bottom: 15px;
						font-weight: 400;
						font-size: 16px;
						line-height: 20px;
						color: #333333;

						strong {
							font-weight: 700;
						}

						span {
							margin-left: 20px;
						}
					}
				}
			}

			.btn {
				width: 280px;
			}

			.field {
				margin-bottom: 36px;

				.field_name {
					font-weight: 700;
					font-size: 16px;
					line-height: 20px;
					text-transform: uppercase;
					color: #333333;
					padding-bottom: 11px;
				}

				ul {

					li {
						margin-bottom: 17px;

						&:last-child{
							margin-bottom: 0;
						}

						label {
							i {
								top: 2px;
							}
							span {
								font-weight: 700;
								font-size: 12px;
							}
						}
					}
				}
			}
		}	
	}
}