</div>
<footer class="footer">
	<div class="block_inner">
		<div class="left_footer">
			<div class="menu_footer">
				<ul>
					<li>
						<li><a href="#">Главная</a></li>
						<li><a href="#">Оплата</a></li>
						<li><a href="#">УСЛУГИ</a></li>
						<li><a href="#">Контакты</a></li>
					</li>
				</ul>
				<ul>
					<li>
						<a href="#">Компания</a>
						<ul>
							<li><a href="#">Бренды</a></li>
							<li><a href="#">Новости</a></li>
							<li><a href="#">Акции</a></li>
						</ul>
					</li>
				</ul>
				<ul>
					<li>
						<a href="#">Помощь</a>
						<ul>
							<li><a href="#">Условия оплаты</a></li>
							<li><a href="#">Условия доставки</a></li>
							<li><a href="#">Гарантии</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="footer_logo">
				<img src="img/footer_logo.png" alt="">
			</div>
		</div>
		<div class="right_footer">
			<div class="right_inner">
				<div class="footer_form">
					<form action="">
						<input type="text" placeholder="Подписаться на рассылку">
						<input type="submite" class="btn">
					</form>
					<div class="text_form">Нажимая «Подписаться», Вы даете согласие на обработку персональных данных и получение нашей рекламной рассылки.</div>
				</div>
				<div class="contacst">
					<div class="phone">
						<a href="tel:8-800-100-00-00">8-800-100-00-00</a>
					</div>
					<div class="time">Пн. - Пт. с 13.00 по 14.00</div>
				</div>
				<div class="btn white call_btn">Заказть звонок</div>
				<div class="contacst mini">
					<div class="phone">
						<a href="tel:8-383-123-45-67">8-383-123-45-67</a>
					</div>
					<div class="time">Пн. - Пт. с 13.00 по 14.00</div>
				</div>
				<div class="mail">
					<a href="mailto:info@company.ru">info@company.ru</a>
				</div>
				<div class="address">630049, Новосибирск примерный адрес</div>
			</div>
			<div class="copy">© СОЮЗ 2022</div>
		</div>			
	</div>
</footer>
</div>
<div class="form-popup-wrapper code_form">
	<div class="formExtraWrapper">
		<div class="form-b">
			<form action="">
				<div class="title">Примерный Заголовок формы</div>
				<div class="field">
					<input type="text" placeholder="Имя">
				</div>
				<div class="field error">
					<input type="text" required placeholder="Телефон*">
					<div class="error_text">введены не верные данные</div>
				</div>
				<input class="btn" type="submit" value="Отправить">
				<div class="text">Я согласен с пользовательским соглашением и политикой конфиденциальности</div>
			</form>         
		</div>
		<div class="close-form"><span></span></div>
	</div>
</div>
<script src="js/wNumb.js" async></script>
<script src="js/nouislider.min.js" async></script>
<script src="js/slick-slider.min.js" async></script>
<script src="js/masonry.pkgd.js" async></script>
<script src="js/main.js" async></script>
</body>
</html>