<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/nouislider.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/inner-page-styles.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script>
</head>
<body>
<nav class="menu_burger">
	<div class="menuClose"><span></span></div>
	<div class="menu_scroll">
		<div class="menu_top">
			<ul>
				<li><a href="#">Главная</a></li>
				<li><a href="#">Доставка</a></li>
				<li><a href="#">Оплата</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div> 
		<div class="burger_contacts">
			<div class="contacst">
				<div class="phone">
					<a href="tel:8-383-123-45-67">8-383-123-45-67</a>
				</div>
				<div class="time">Пн. - Пт. с 13.00 по 14.00</div>
			</div>
			<div class="mail">
				<a href="mailto:info@mail.ru">info@mail.ru</a>
			</div>
			<div class="address">630049, Новосибирск примерный адрес</div>
		</div>
	</div>
</nav> 
<div class="site_wrapper">
	<header class="header">
		<div class="header_line_top">
			<div class="block_inner">
				<div class="logo">
					<a href="/">
						<img src="img/logo.svg" alt="">
					</a>
				</div>
				<div class="localisation"><a href="#">Новосибирск</a></div>
				<div class="menu_header_top">
					<ul>
						<li class="opened"><a href="">Главная</a></li>
						<li><a href="">Доставка</a></li>
						<li><a href="">Оплата</a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</div>
				<div class="login">
					<a href="">Регистрация</a>
				</div>
				<div class="mail">
					<a href="mailto:info@mail.ru">info@mail.ru</a>
				</div>
				<div class="contacst">
					<div class="phone">
						<a href="tel:8-383-123-45-67">8-383-123-45-67</a>
					</div>
					<div class="time">Пн. - Пт. с 13.00 по 14.00</div>
				</div>
				<div class="burger"></div>
			</div>
		</div>
		<div class="header_bottom">
			<div class="block_inner">
				<div class="btn_catalog">Каталог</div>
				<form action="" class="search_block">
					<input type="text" placeholder="Поиск по сайту">
					<input type="submite" value="Искать" class="btn black">
				</form>
				<div class="shop_panel">
					<div class="user_btn">
						<div class="user_btn_main active"></div>
						<div class="user_popup">
							<div class="name_user">Имя пользователя</div>
							<div class="info_user">
								<div class="row">
									<div class="name">Название организации</div>
									<div class="val">ООО “Строй парк-Р”</div>
								</div>
								<div class="row">
									<div class="name">Телефон организации:</div>
									<div class="val"><a href="tel:8 (123) 456-78-90">8 (123) 456-78-90</a></div>
								</div>
								<div class="row">
									<div class="name">Электронная почта:</div>
									<div class="val"><a href="mailto:rt2@tomsk.russvet.ru">rt2@tomsk.russvet.ru</a></div>
								</div>
							</div>
							<a href="#" class="out_link">Выйти</a>
						</div>									
					</div>
					<div class="cart_mini active"><div class="cart_amout">12</div></div>
					<div class="favorite active"><div class="favorite_amout">10</div></div>
				</div>
				<div class="compare active"><div class="compare_amount">10</div></div>
				<div class="btn call_btn border">Заказть звонок</div>
			</div>
		</div>
	</header>
	<div class="content_block_wr">
		<div class="icon_pic left_top"></div>
		<div class="icon_pic right_top"></div>
		<div class="icon_pic left_bottom"></div>
		<div class="icon_pic right_bottom"></div>