<div class="item_product">
	<div class="for_ch">
		<div class="favorite_btn"></div>
	</div>
	<div class="labels">
		<div class="label sale">Акция</div>
	</div>
	<div class="image">
		<a href="">
			<img src="files/product1.jpg" alt="">
		</a>
	</div>
	<div class="name">
		<a href="#">Светильник-ночник 018 квадрат датчик освещения 220В IEK LDNN8-018-SQ-P-00-S-K01</a>
	</div>
	<div class="articule">Артикул: 84382948</div>
	<div class="price">
		<strong>от 54 4279 ₽ за 1 шт. </strong>
		<div class="info">
			<div class="info_popup">Минимальное количество товаров от 20 шт.</div>
		</div>
	</div>
	<div class="old_price">5 279 ₽ за 1 шт</div>
	<div class="item_bottom">
		<div class="amout_block">
			<button class="minus">-</button>
			<label>
				<input type="text" value="1">
				<span> шт.</span>
			</label>
			<button class="plus">+</button>
		</div>
		<div class="stock yes">В наличии</div>
	</div>
	<div class="btn_item">
		<button class="btn buy_btn">В корзину</button>
	</div>
</div>
<div class="item_product">
	<div class="for_ch">
		<div class="favorite_btn"></div>
	</div>
	<div class="labels">
		<div class="label new">Акция</div>
	</div>
	<div class="image">
		<a href="">
			<img src="files/produc2.png" alt="">
		</a>
	</div>
	<div class="name">
		<a href="#">Светильник-ночник 018 квадрат датчик освещения 220В IEK LDNN8-018-SQ-P-00-S-K01</a>
	</div>
	<div class="articule">Артикул: 84382948</div>
	<div class="price">
		<strong>от 54 4279 ₽ за 1 шт. </strong>
		<div class="info">
			<div class="info_popup">Минимальное количество товаров от 20 шт.</div>
		</div>
	</div>
	<div class="old_price">5 279 ₽ за 1 шт</div>
	<div class="item_bottom">
		<div class="amout_block">
			<button class="minus">-</button>
			<label>
				<input type="text" value="1">
				<span> шт.</span>
			</label>
			<button class="plus">+</button>
		</div>
		<div class="stock no">Заканчивается</div>
	</div>
	<div class="btn_item">
		<button class="btn buy_btn">В корзину</button>
	</div>
</div>