<div class="item_product type-list">
	<div class="image">
		<div class="for_ch">
			<div class="field checkbox c_ch">
				<label><input type="checkbox"><i></i></label>
			</div>
			<div class="favorite_btn"></div>
			<div class="compare_btn"></div>
		</div>
		<div class="labels">
			<div class="label sale">Акция</div>
		</div>
		<a href="">
			<img src="files/product1.jpg" alt="">
		</a>
	</div>
	<div class="middle">
		<div class="name">
			<a href="#">Светильник-ночник 018 квадрат датчик освещения 220В IEK LDNN8-018-SQ-P-00-S-K01</a>
		</div>
		<div class="articule">Артикул: 84382948</div>
		<ul class="params">
			<li>Бренд: DAEWOO</li>
			<li>Ширина: 17.5 мм</li>
			<li>Исполнение: Цинково-угольный</li>
			<li>Длина: 26.5 мм</li>
			<li>Номинально: 9 В</li>
		</ul>
	</div>
	<div class="right">
		<div class="price">
			<strong>от 54 4279 ₽ за 1 шт. </strong>
			<div class="info">
				<div class="info_popup">Минимальное количество товаров от 20 шт.</div>
			</div>
		</div>
		<div class="old_price">5 279 ₽ за 1 шт</div>
		<div class="item_bottom">
			<div class="amout_block">
				<button class="minus">-</button>
				<label>
					<input type="text" value="1">
					<span> шт.</span>
				</label>
				<button class="plus">+</button>
			</div>
			<div class="stock yes">В наличии</div>
		</div>
		<div class="btns_text">
			<button class="btn buy_btn">В корзину</button>
			<div class="text_prod">Единица измерения: УП. 1 шт <br>Кратность для заказа: 400</div>
		</div>
	</div>
</div>