<div class="item_product type-table">
	<div class="image">
		<div class="for_ch">
			<div class="field checkbox c_ch">
				<label><input type="checkbox"><i></i></label>
			</div>
		</div>
		<a href="">
			<img src="files/product1.jpg" alt="">
		</a>
	</div>
	<div class="articule">84382948</div>
	<div class="name">
		<a href="#">Светильник-ночник 018 квадрат датчик освещения 220В IEK LDNN8-018-SQ-P-00-S-K01</a>
	</div>
	<div class="stock yes">В наличии</div>
	<div class="prices">
		<div class="price">
			<strong>54 4279 ₽</strong>
			<div class="info">
				<div class="info_popup">Минимальное количество товаров от 20 шт.</div>
			</div>
		</div>
		<div class="old_price">5 279 ₽ за 1 шт</div>
	</div>
	<div class="amount_val">УП.  1 шт</div>
	<div class="right">
		<div class="item_bottom">
			<div class="amout_block">
				<button class="minus">-</button>
				<label>
					<input type="text" value="1">
					<span> шт.</span>
				</label>
				<button class="plus">+</button>
			</div>
			<button class="btn buy_btn">В корзину</button>
		</div>
		<div class="text_prod">Единица измерения: УП. 1 шт <br>Кратность для заказа: 400</div>
	</div>
</div>