include _header.jade
	<div class="page_content_wr">
		<div class="block_inner">
			<div class="path_block">
				<a href="/">Главная</a><span>/</span>Корзина
			</div>
			<h1>Корзина</h1>
			<div class="cart_top">
				<div class="timer_cart">Срок действия вашей корзины Магазин истекает 14.07.2022</div>
				<div class="btn_clear_cart">Очистить корзину</div>
			</div>
			<div class="cart_panel_top">
				<div class="check">
					<div class="field checkbox">
						<label><input type="checkbox"><i></i></label>
					</div>
				</div>
				<div class="row art">Артикул</div>
				<div class="row name">Название позиции</div>
				<div class="row amount">Количество</div>
				<div class="row price_nds_no">Цена без НДС</div>
				<div class="row price_nds">Цена с НДС</div>
				<div class="row summ_nds_no">Сумма без НДС</div>
				<div class="row summ_nds">Сумма с НДС</div>
				<div class="row delete">Удалить</div>
			</div>
			<div class="cart_main_block">
				<div class="cart_item">
					<div class="cart_item_main">
						<div class="image">
							<div class="for_ch">
								<div class="field checkbox c_ch">
									<label><input type="checkbox"><i></i></label>
								</div>
							</div>
							<a href="">
								<img src="files/product1.jpg" alt="">
							</a>
						</div>
						<div class="articule"><span class="name_mobile">Артикул</span>84382948</div>
						<div class="name">
							<a href="#">Светильник-ночник 018 квадрат датчик освещения 220В IEK LDNN8-018-SQ-P-00-S-K01</a>
						</div>
						<div class="amount">
							<span class="name_mobile">Количество</span>
							<input type="text">
							<div class="vall">УП.  1 шт</div>
						</div>
						<div class="row price_nds_no"><span class="name_mobile">Цена без НДС</span>0.00</div>
						<div class="row price_nds"><span class="name_mobile">Цена с НДС</span>0.00</div>
						<div class="row summ_nds_no"><span class="name_mobile">Сумма без НДС</span>0.00</div>
						<div class="row summ_nds"><span class="name_mobile">Сумма с НДС</span>0.00</div>
						<div class="delete">
							<div class="delete_btn">Удалить</div>
						</div>
					</div>
					<div class="cart_item_bottom">
						<div class="stock">В наличии</div>
						<div class="param">Длина: 1м</div>
						<div class="param">Ширина: 0.008 м</div>
						<div class="param">Высота: 0.008 м</div>
						<div class="param">Объем: 0.001 м2</div>
						<div class="param">Вес: 0.16 кг</div>
					</div>
				</div>	
				<div class="cart_item">
					<div class="cart_item_main">
						<div class="image">
							<div class="for_ch">
								<div class="field checkbox c_ch">
									<label><input type="checkbox"><i></i></label>
								</div>
							</div>
							<a href="">
								<img src="files/product1.jpg" alt="">
							</a>
						</div>
						<div class="articule"><span class="name_mobile">Артикул</span>84382948</div>
						<div class="name">
							<a href="#">Светильник-ночник 018 квадрат датчик освещения 220В IEK LDNN8-018-SQ-P-00-S-K01</a>
						</div>
						<div class="amount">
							<span class="name_mobile">Количество</span>
							<input type="text">
							<div class="vall">УП.  1 шт</div>
						</div>
						<div class="row price_nds_no"><span class="name_mobile">Цена без НДС</span>0.00</div>
						<div class="row price_nds"><span class="name_mobile">Цена с НДС</span>0.00</div>
						<div class="row summ_nds_no"><span class="name_mobile">Сумма без НДС</span>0.00</div>
						<div class="row summ_nds"><span class="name_mobile">Сумма с НДС</span>0.00</div>
						<div class="delete">
							<div class="delete_btn">Удалить</div>
						</div>
					</div>
					<div class="cart_item_bottom">
						<div class="stock">В наличии</div>
						<div class="param">Длина: 1м</div>
						<div class="param">Ширина: 0.008 м</div>
						<div class="param">Высота: 0.008 м</div>
						<div class="param">Объем: 0.001 м2</div>
						<div class="param">Вес: 0.16 кг</div>
					</div>
				</div>						
			</div>
			<div class="cart_main_bottom">
				<div class="promocode">
					<div class="name">Промокод:</div>
					<form class="promocode_form">
						<input type="text" placeholder="Ваш промокод">
						<button class="btn">Применить</button>
					</form>
				</div>
				<div class="total_sum">Итого: 45300.00₽</div>
				<div class="btn border recalculation">Перерасчет</div>
			</div>
			<div class="cart_bottom_params">
				<div class="left">
					<ul class="params_c">
						<li>Объем: 0.001 м2</li>
						<li>Вес: 0.16 кг</li>
						<li>Количество товаров: 2</li>
						<li>Размер скидки: 0.00₽</li>
						<li>Сумма: 45300.00₽</li>
						<li>НДС (20%) 8784.40₽</li>
					</ul>
					<button class="btn red">Оформить заказ</button>
				</div>
				<div class="right warning">
					<div class="name">Внимание</div>
					<div class="body">Если заказанное количество товара не соответствует кратности для заказа, то закупка товара будет невозможна!</div>
				</div>
			</div>
		</div>
	</div>
include _footer.jade