include _header.jade
	<div class="page_content_wr">
		<div class="block_inner">
			<div class="path_block">
				<a href="/">Главная</a><span>/</span><a href="">Каталог товаров</a><span>/</span>Высоковольтное и щитовое оборудование
			</div>
			<h1>Высоковольтное и щитовое оборудование</h1>
			<div class="search_result">Найдено товаров<span>337</span></div>
			<div class="sort_panel">
				<div class="sort_left_panel">
					<div class="name_sort">Сортировать по:</div>
					<div class="sort_btn">Цене <span></span></div>
					<div class="sort_btn">Названию <span></span></div>
					<div class="sort_btn">Количеству <span></span></div>
				</div>
				<div class="nds_text">Все цены в каталоге товаров указаны с учетом НДС</div>
				<div class="sort_display">
					<a href="" class="sort_btn block"><i title="плиткой"></i></a>
					<a href="" class="sort_btn list "><i title="списком"></i></a>
					<a href="" class="sort_btn table current"><i title="таблицей"></i></a>
				</div>
			</div>
			<div class="content_main">
				<div class="left_content_panel">
					<div class="filter_btn_mobile">Фильтр</div>
					<div class="filter_block">
						<div class="filter_field">
							<div class="filter_field_name">По категориям</div>
							<div class="filter_field_body">
								<ul class="filter_menu">
									<li><a href="">test</a></li>
									<li><a href="">test</a></li>
									<li><a href="">test</a></li>
									<li><a href="">test</a></li>
								</ul>
							</div>
						</div>
						<div class="filter_field">
							<div class="filter_field_name">Бренды</div>
							<div class="filter_field_body">
								<ul class="filter_checkbox">
									<li>
										<label>
											<input type="checkbox">
											<i></i>AIZ<span>(167)</span>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">
											<i></i>АИЗ Лыткарино<span>(34)</span>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">
											<i></i>Пластдеталь<span>(12)</span>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">
											<i></i>AIZ<span>(167)</span>
										</label>
									</li>
								</ul>
							</div>
						</div>
						<div class="filter_field">
							<div class="filter_field_name">Изображение товаров</div>
							<div class="filter_field_body">
								<ul class="filter_checkbox">
									<li>
										<label>
											<input type="checkbox">
											<i></i>ДА</span>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">
											<i></i>Нет</span>
										</label>
									</li>
								</ul>
							</div>
						</div>
						<div class="filter_field">
							<div class="filter_field_name">Серии</div>
							<div class="filter_field_body">
								<ul class="filter_checkbox">
									<li>
										<label>
											<input type="checkbox">
											<i></i>ДА</span>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">
											<i></i>Нет</span>
										</label>
									</li>
								</ul>
							</div>
						</div>
						<div class="filter_field">
							<div class="filter_field_name">Есть в реестре Минпромторга</div>
							<div class="filter_field_body">
								<ul class="filter_checkbox">
									<li>
										<label>
											<input type="checkbox">
											<i></i>ДА</span>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">
											<i></i>Нет</span>
										</label>
									</li>
								</ul>
							</div>
						</div>
						<div class="filter_field">
							<div class="filter_field_name">Наличие</div>
							<div class="filter_field_body">
								<ul class="filter_checkbox">
									<li>
										<label>
											<input type="checkbox">
											<i></i>ДА</span>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">
											<i></i>Нет</span>
										</label>
									</li>
								</ul>
							</div>
						</div>
						<div class="filter_field">
							<div class="filter_field_name">Цена товара </div>
							<div class="filter_field_body">
								<div class="slider_price">
									<div id="steps-slider"></div>
									<div class="inputs">
										<input type="text" id="input-with-keypress-0">
										<span>-</span>
										<input type="text" id="input-with-keypress-1">
									</div>
								</div>											
							</div>
						</div>
						<div class="filter_field">
							<div class="filter_field_name new">Новинки</div>
							<div class="filter_field_body">
								<ul class="filter_checkbox">
									<li>
										<label>
											<input type="checkbox">
											<i></i>ДА</span>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">
											<i></i>Нет</span>
										</label>
									</li>
								</ul>
							</div>
						</div>
						<div class="filter_field">
							<div class="filter_field_name">Сделано в России</div>
							<div class="filter_field_body">
								<ul class="filter_checkbox">
									<li>
										<label>
											<input type="checkbox">
											<i></i>ДА</span>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">
											<i></i>Нет</span>
										</label>
									</li>
								</ul>
							</div>
						</div>
						<div class="filter_field">
							<div class="filter_field_name">Распродажа</div>
							<div class="filter_field_body">
								<ul class="filter_checkbox">
									<li>
										<label>
											<input type="checkbox">
											<i></i>ДА</span>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">
											<i></i>Нет</span>
										</label>
									</li>
								</ul>
							</div>
						</div>
						<div class="filter_field">
							<div class="filter_field_name">Материал</div>
							<div class="filter_field_body">
								<ul class="filter_checkbox">
									<li>
										<label>
											<input type="checkbox">
											<i></i>ДА</span>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">
											<i></i>Нет</span>
										</label>
									</li>
								</ul>
							</div>
						</div>
						<div class="filter_field">
							<div class="filter_field_name">Исполнение</div>
							<div class="filter_field_body">
								<ul class="filter_checkbox">
									<li>
										<label>
											<input type="checkbox">
											<i></i>ДА</span>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">
											<i></i>Нет</span>
										</label>
									</li>
								</ul>
							</div>
						</div>
						<div class="filter_field">
							<div class="filter_field_name">Длина</div>
							<div class="filter_field_body">
								<ul class="filter_checkbox">
									<li>
										<label>
											<input type="checkbox">
											<i></i>ДА</span>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">
											<i></i>Нет</span>
										</label>
									</li>
								</ul>
							</div>
						</div>
						<div class="filter_field">
							<div class="filter_field_name">Номинальное напряжение</div>
							<div class="filter_field_body">
								<ul class="filter_checkbox">
									<li>
										<label>
											<input type="checkbox">
											<i></i>ДА</span>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">
											<i></i>Нет</span>
										</label>
									</li>
								</ul>
							</div>
						</div>
						<div class="filter_field">
							<div class="filter_field_name">Высота</div>
							<div class="filter_field_body">
								<ul class="filter_checkbox">
									<li>
										<label>
											<input type="checkbox">
											<i></i>ДА</span>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">
											<i></i>Нет</span>
										</label>
									</li>
								</ul>
							</div>
						</div>
						<div class="btn_fiter">
							<button class="btn">Применить фильтр</button>
						</div>
						<div class="clear_btn">Сбросить фильтр</div>
						<div class="result_filter">
							<div class="result">Найдено 1 200 товаров</div>
							<button class="btn red">Показать</button>
						</div>
					</div>
				</div>
				<div class="right_content">
					<div class="table_products_wrap">
						<div class="table_products_title">
							<div class="row foto">Фото</div>
							<div class="row art">Артикул</div>
							<div class="row name">Название <br>позиции</div>
							<div class="row nal">Доступность</div>
							<div class="row amount_val">Единица измерения</div>
							<div class="row price">Цена</div>
							<div class="row amout">Количество</div>
						</div>
						<div class="right_content_products table_products">
							include _product-lot-table.jade
							include _product-lot-table.jade
							include _product-lot-table.jade
							include _product-lot-table.jade
							include _product-lot-table.jade
							include _product-lot-table.jade
							include _product-lot-table.jade
							include _product-lot-table.jade
						</div>
					</div>
					<div class="page_list">
						<div class="arrow_page prev"></div>
						<div class="active_page">1</div>
						<a href="#" class="number_page">2</a>
						<div class="or_page">...</div>
						<a href="#" class="number_page">9</a>
						<a href="#" class="number_page">10</a>
						<div class="arrow_page next"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="popular_products_block">
		<div class="block_inner">
			<div class="title_link">
				<div class="title">Популярные товары</div>
				<a href="#">Все товары</a>
			</div>
			<div class="inner">
				<div class="slider_popular">
					include _product.jade
					include _product.jade
				</div>
			</div>
		</div>
	</div>	
include _footer.jade