include _header.jade
	<div class="page_content_wr">
		<div class="block_inner">
			<div class="path_block">
				<a href="/">Главная</a><span>/</span>Регистрация физических лиц
			</div>
			<h1>Регистрация физических лиц</h1>
			<div class="contacts_page">
				<div class="contacts">
					<div class="phone">
						<div class="name">Телефон:</div>
						<a href="tel:+7 (383) 123-45-67">+7 (383) 123-45-67</a>
						<a href="tel:+7 (383) 123-45-67">+7 (383) 123-45-67</a>
					</div>
					<div class="email">
						<div class="name">Эл.почта:</div>
						<a href="mailto:info@company.ru">info@company.ru</a>
					</div>
					<div class="address">
						<div class="name">Адрес:</div>
						<div class="body">630049, Новосибирск примерный адрес</div>
					</div>
				</div>
				<div class="map_block">
					<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A06ba0c6c61bf77326647cb32223893634848bbb9a230d8b293c37b750399ec06&amp;source=constructor" width="100%" height="395" frameborder="0"></iframe>
				</div>
			</div>	
			<form action="" class="send_from">
				<div class="title">Напишите нам</div>
				<div class="col_2">
					<div class="left">
						<div class="field requared">
							<div class="field_name">Имя <span>*</span></div>
							<input type="text" required>
						</div>
						<div class="field requared">
							<div class="field_name">Эл. почта <span>*</span></div>
							<input type="text" required>
						</div>
						<div class="field requared">
							<div class="field_name">Телефон <span>*</span></div>
							<input type="text" required>
						</div>
					</div>
					<div class="right">
						<div class="field">
							<div class="field_name">Комментарий</div>
							<textarea name="" id="" cols="30" rows="10"></textarea>
						</div>
					</div>
				</div>
				<div class="field_btn">
					<button class="btn red">Зарегистрироваться</button>
					<div class="field checkbox">
						<label>
							<input type="checkbox" checked>
							<i></i><span>Нажимая на кнопку «Зарегистрироваться», я даю согласие на обработку своих персональных данных в соответствии с <a href="#">условиями</a></span>
						</label>
					</div>
				</div>
			</form>								
		</div>
	</div>
include _footer.jade