include _header.jade
	<div class="page_content_wr">
		<div class="block_inner">
			<div class="path_block">
				<a href="/">Главная</a><span>/</span>Доставка
			</div>
			<h1>Доставка</h1>
			<div class="delevery_page">
				<div class="text_block_main">
					<h3>Для юридических лиц и индивидуальных предпринимателей:</h3>
					<p>Важно! Вместе с товаром Вам будет предоставлен универсальный передаточный документ. В случае необходимости предоставления каких-либо иных документов Вам необходимо уведомить об этом Вашего персонального менеджера. При получении товара Вам необходимо проверить заказ на соответствие заявленному в документах количеству и убедиться в отсутствии видимых повреждений.</p>
					<p>Доставка заказа осуществляется по всей территории России и ближнего зарубежья транспортной компанией "Деловые Линии". Доставка до терминала транспортной компании осуществляется бесплатно. Рассчитать стоимость доставки можно на официальном сайте грузоперевозчика. О возможностях бесплатной доставки и минимальной сумме отгрузки в Вашем регионе Вы можете уточнить у своего персонального менеджера.</p>
					<p>Самовывоз доступен в большинстве населенных пунктов присутствия компании. При выборе данного типа получения товара ограничения по минимальной сумме заказа отсутствуют. О возможности самовывоза со склада Вашего филиала Вы можете узнать у своего персонального менеджера.</p>
					<p><img src="files/map.jpg" alt=""></p>
				</div>
				<div class="contacts">
					<div class="phone">
						<div class="name">Телефон:</div>
						<a href="tel:+7 (383) 123-45-67">+7 (383) 123-45-67</a>
						<a href="tel:+7 (383) 123-45-67">+7 (383) 123-45-67</a>
					</div>
					<div class="email">
						<div class="name">Эл.почта:</div>
						<a href="mailto:info@company.ru">info@company.ru</a>
					</div>
					<div class="address">
						<div class="name">Адрес:</div>
						<div class="body">630049, Новосибирск примерный адрес</div>
					</div>
				</div>
			</div>						
		</div>
	</div>
include _footer.jade