include _header.jade
	<div class="page_content_wr">
		<div class="block_inner">
			<div class="path_block">
				<a href="/">Главная</a><span>/</span>Личный кабинет
			</div>
			<h1>Личный кабинет</h1>
			<div class="lk_page">
				<div class="left_panel_main">
					<ul>
						<li><a href="#">История заказов</a></li>
						<li class="opened"><a href="#">Учетные данные</a></li>
						<li><a href="#">Сменить пароль</a></li>
					</ul>
				</div>
				<div class="right_block_main">
					<h3>Учетные данные</h3>
					<form action="" class="credentials_form">
						<div class="col_3">
							<div class="field requared">
								<div class="field_name">Фамилия <span>*</span></div>
								<input type="text" required>
							</div>
							<div class="field requared">
								<div class="field_name">Имя <span>*</span></div>
								<input type="text" required>
							</div>
							<div class="field">
								<div class="field_name">Отчество  <span>*</span></div>
								<input type="text" required>
							</div>
						</div>
						<div class="col_3">
							<div class="field requared">
								<div class="field_name">Телефон <span>*</span></div>
								<input type="text" required>
							</div>
							<div class="field requared">
								<div class="field_name">Эл. почта <span>*</span></div>
								<input type="text" required>
							</div>
						</div>
						<div class="col_3">
							<div class="field requared textarea">
								<div class="field_name">Адрес доставки <span>*</span></div>
								<textarea name="" id="" cols="30" rows="10" required></textarea>
							</div>
						</div>
						<div class="col_3">
							<div class="field_btn">
								<button class="btn save">Сохранить</button>
							</div>
						</div>
					</form>
				</div>
			</div>						
		</div>
	</div>
include _footer.jade