include _header.jade
	<div class="page_content_wr">
		<div class="block_inner">
			<div class="path_block">
				<a href="/">Главная</a><span>/</span>Личный кабинет
			</div>
			<h1>Личный кабинет</h1>
			<div class="lk_page">
				<div class="left_panel_main">
					<ul>
						<li><a href="#">История заказов</a></li>
						<li><a href="#">Учетные данные</a></li>
						<li><a href="#">Сменить пароль</a></li>
					</ul>
				</div>
				<div class="right_block_main">
					<div class="order_main_item">
						<div class="order_main_item_title">
							<h3>Заказ: 2132132 от 26.06.2022 19.08</h3>
							<div class="status in_work">В работе</div>
							<div class="links">
								<a href="#" class="link">Повторить</a>
								<a href="#" class="link">Оплатить</a>
								<a href="#" class="link cencel">Отменить</a>
							</div>
						</div>
						<div class="order_main_item_body">
							<div class="data_user">
								<div class="data">
									<strong>Ф.И.О покупателя:</strong> <span>Василий Петров</span>
								</div>
								<div class="data">
									<strong>Телефон покупателя:</strong> <span>+7 (123) 45-67-89</span>
								</div>
								<div class="data">
									<strong>Адрес доставки:</strong> <span>Новосибирск, ул. Примерная 56</span>
								</div>
								<div class="data">
									<strong>Магазин:</strong> <span>Примерный адрес</span>
								</div>
								<div class="data">
									<strong>Статус оплаты:</strong> <span>В ожидании</span>
								</div>
							</div>
							<div class="time_order">Оплата будет доступна до: 28.06.2022 19:08</div>
						</div>											
					</div>
					<div class="orders_products">
						<div class="orders_title">
							<div class="row name"><strong>Наименование</strong></div>
							<div class="row amount"><strong>Дата</strong></div>
							<div class="row amount"><strong>Количество</strong></div>
							<div class="row price"><strong>Стоимость</strong></div>
						</div>
						<div class="order_product">
							<div class="row name">
								<div class="name_mob">Наименование</div>
								<a href="#">Светильник-ночник 018 квадрат датчик освещения 220В IEK LDNN8-018-SQ-P-00-S-K01</a>
							</div>
							<div class="row amount"><div class="name_mob">Дата</div> 28.06.2022 </div>
							<div class="row amount"><div class="name_mob">Наименование</div> 1</div>
							<div class="row price"><div class="name_mob">Стоимость</div> 55600.00 <span>55600.00</span><span>Штука</span></div>
						</div>
						<div class="order_product">
							<div class="row name">
								<div class="name_mob">Наименование</div>
								<a href="#">Светильник-ночник 018 квадрат датчик освещения 220В IEK LDNN8-018-SQ-P-00-S-K01</a>
							</div>
							<div class="row amount"><div class="name_mob">Дата</div> 28.06.2022 </div>
							<div class="row amount"><div class="name_mob">Наименование</div> 1</div>
							<div class="row price"><div class="name_mob">Стоимость</div> 55600.00 <span>55600.00</span><span>Штука</span></div>
						</div>
					</div>
					<div class="order_total_summ">Итого: 45300.00₽</div>
				</div>
			</div>						
		</div>
	</div>
include _footer.jade