include _header.jade
	<div class="page_content_wr">
		<div class="block_inner">
			<div class="path_block">
				<a href="/">Главная</a><span>/</span>Личный кабинет
			</div>
			<h1>Личный кабинет</h1>
			<div class="lk_page">
				<div class="left_panel_main">
					<ul>
						<li class="opened"><a href="#">История заказов</a></li>
						<li><a href="#">Учетные данные</a></li>
						<li><a href="#">Сменить пароль</a></li>
					</ul>
				</div>
				<div class="right_block_main">
					<h3>История заказов</h3>
					<form>
						<div class="lk_row">
							<div class="field select">
								<div class="field_name">За последние:</div>
								<select name="" id="">
									<option value="">7 дней</option>
									<option value="">5 дней</option>
									<option value="">4 дней</option>
									<option value="">3 дней</option>
								</select>
							</div>
							<span>c</span>
							<div class="field select multy">
								<div class="field_name">За период:</div>
								<div class="selects_field">
									<div class="select">
										<select name="" id="">
											<option value="">26.06.2021</option>
											<option value="">26.06.2021</option>
											<option value="">26.06.2021</option>
											<option value="">26.06.2021</option>
										</select>
									</div>
									<span>по</span>
									<div class="select">
										<select name="" id="">
											<option value="">26.06.2021</option>
											<option value="">26.06.2021</option>
											<option value="">26.06.2021</option>
											<option value="">26.06.2021</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="field checkbox">
							<label>
								<input type="checkbox">
								<i></i>
								<span>Принят</span>
							</label>
							<label>
								<input type="checkbox">
								<i></i>
								<span>В работе</span>
							</label>
							<label>
								<input type="checkbox">
								<i></i>
								<span>Готов</span>
							</label>
							<label>
								<input type="checkbox">
								<i></i>
								<span>Завершен</span>
							</label>
							<label>
								<input type="checkbox">
								<i></i>
								<span>Отменен</span>
							</label>
							<label>
								<input type="checkbox">
								<i></i>
								<span>Возвращен</span>
							</label>
						</div>
						<button class="btn red search_btn">Найти</button>
					</form>
					<div class="orders_items_wr">
						<div class="orders_title">
							<div class="row order">Заказ</div>
							<div class="row summ">Сумма</div>
							<div class="row status">Статус</div>
							<div class="row cancel"></div>
						</div>
						<div class="order_item">
							<div class="inner">
								<div class="row order"><div class="title_mob">Заказ</div><a href="#">1289182 от 26.06.2022</a></div>
								<div class="row summ"><div class="title_mob">Сумма</div>348.00</div>
								<div class="row status in_work"><div class="title_mob">Статус</div>В работе</div>
								<div class="row cancel"><div class="btn_cancel">Отменить заказ</div></div>
							</div>
							<div class="time_order">Оплата будет доступна до: 28.06.2022 19:08</div>
						</div>
					</div>
					<div class="orders_products">
						<div class="orders_title">
							<div class="row name">Наименование</div>
							<div class="row amount">Количество</div>
							<div class="row price">Стоимость</div>
						</div>
						<div class="order_product">
							<div class="row name">
								<div class="name_mob">Наименование</div>
								<a href="#">Светильник-ночник 018 квадрат датчик освещения 220В IEK LDNN8-018-SQ-P-00-S-K01</a>
							</div>
							<div class="row amount"><div class="name_mob">Наименование</div> 1</div>
							<div class="row price"><div class="name_mob">Стоимость</div> 55600.00</div>
						</div>
						<div class="order_product">
							<div class="row name">
								<div class="name_mob">Наименование</div>
								<a href="#">Светильник-ночник 018 квадрат датчик освещения 220В IEK LDNN8-018-SQ-P-00-S-K01</a>
							</div>
							<div class="row amount"><div class="name_mob">Наименование</div> 1</div>
							<div class="row price"><div class="name_mob">Стоимость</div> 55600.00</div>
						</div>
					</div>
				</div>
			</div>						
		</div>
	</div>
include _footer.jade