include _header.jade
	<div class="page_content_wr">
		<div class="block_inner">
			<div class="path_block">
				<a href="/">Главная</a><span>/</span>Личный кабинет
			</div>
			<h1>Личный кабинет</h1>
			<div class="lk_page">
				<div class="left_panel_main">
					<ul>
						<li class="opened"><a href="#">История заказов</a></li>
						<li><a href="#">Учетные данные</a></li>
						<li><a href="#">Сменить пароль</a></li>
					</ul>
				</div>
				<div class="right_block_main">
					<h3>История заказов</h3>
					<form>
						<div class="lk_row">
							<div class="field select">
								<div class="field_name">За последние:</div>
								<select name="" id="">
									<option value="">7 дней</option>
									<option value="">5 дней</option>
									<option value="">4 дней</option>
									<option value="">3 дней</option>
								</select>
							</div>
							<span>c</span>
							<div class="field select multy">
								<div class="field_name">За период:</div>
								<div class="selects_field">
									<div class="select">
										<select name="" id="">
											<option value="">26.06.2021</option>
											<option value="">26.06.2021</option>
											<option value="">26.06.2021</option>
											<option value="">26.06.2021</option>
										</select>
									</div>
									<span>по</span>
									<div class="select">
										<select name="" id="">
											<option value="">26.06.2021</option>
											<option value="">26.06.2021</option>
											<option value="">26.06.2021</option>
											<option value="">26.06.2021</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="field checkbox">
							<label>
								<input type="checkbox">
								<i></i>
								<span>Принят</span>
							</label>
							<label>
								<input type="checkbox">
								<i></i>
								<span>В работе</span>
							</label>
							<label>
								<input type="checkbox">
								<i></i>
								<span>Готов</span>
							</label>
							<label>
								<input type="checkbox">
								<i></i>
								<span>Завершен</span>
							</label>
							<label>
								<input type="checkbox">
								<i></i>
								<span>Отменен</span>
							</label>
							<label>
								<input type="checkbox">
								<i></i>
								<span>Возвращен</span>
							</label>
						</div>
						<button class="btn red search_btn">Найти</button>
					</form>
				</div>
			</div>						
		</div>
	</div>
include _footer.jade