include _header.jade
	<div class="page_content_wr">
		<div class="block_inner">
			<div class="path_block">
				<a href="/">Главная</a><span>/</span>Личный кабинет
			</div>
			<h1>Личный кабинет юр.лиц</h1>
			<div class="lk_page">
				<div class="left_panel_main">
					<ul>
						<li><a href="#">Учетные данные</a></li>
						<li><a href="#">Данные компании</a></li>
						<li><a href="#">Адреса доставки</a></li>
						<li class="opened"><a href="#">История заказов</a></li>
						<li><a href="#">Документы</a></li>
						<li><a href="#">Доставки</a></li>
						<li><a href="#">Заявки на рекламацию</a></li>
						<li><a href="#">Накопительные акции</a></li>
					</ul>
				</div>
				<div class="right_block_main">
					<h3>Адреса доставки</h3>
					<div class="yur_story">
						<div class="yur_story_title">
							<div class="row name">Основной адрес</div>
							<div class="row sklad">Склад</div>
						</div>				
						<div class="yur_story_body">
							<div class="story_body">
								<div class="row name">
									<div class="field checkbox">
										<label>
											<input type="checkbox">
											<i></i>
										</label>
									</div>
									<span>Томская обл, Томск г, Вершинина проезд, 2, а</span>
								</div>
								<div class="row sklad">Новосибирск</div>
							</div>
							<div class="story_body">
								<div class="row name">
									<div class="field checkbox">
										<label>
											<input type="checkbox">
											<i></i>
										</label>
									</div>
									<span>Томская обл, Томск г, Вершинина ул, 76, 2</span>
								</div>
								<div class="row sklad">Новосибирск</div>
							</div>
						</div>	
						<div class="btns_yur_story">
							<button class="btn">Сохранить</button>
							<div class="btn border add_address">Добавить адрес</div>
						</div>									
					</div>
					<div class="add_address_form">
						<form action="" class="credentials_form yur_form">
							<h3>Адреса доставки</h3>
							<div class="field requared">
								<div class="field_name">Страна <span>*</span></div>
								<input type="text" required>
							</div>
							<div class="field select requared">
								<div class="field_name">Регион РФ  <span>*</span></div>
								<select name="" id="">
									<option value="">Выберите регион</option>
									<option value="">1</option>
									<option value="">2</option>
									<option value="">3</option>
									<option value="">4</option>
									<option value="">5</option>
								</select>
							</div>
							<div class="field select">
								<div class="field_name">Район</div>
								<select name="" id="">
									<option value="">Выберите район</option>
									<option value="">1</option>
									<option value="">2</option>
									<option value="">3</option>
									<option value="">4</option>
									<option value="">5</option>
								</select>
							</div>
							<div class="field select">
								<div class="field_name">Город</div>
								<select name="" id="">
									<option value="">Выберите город</option>
									<option value="">1</option>
									<option value="">2</option>
									<option value="">3</option>
									<option value="">4</option>
									<option value="">5</option>
								</select>
							</div>
							<div class="field select">
								<div class="field_name">Населеный пункт</div>
								<select name="" id="">
									<option value="">Выберите населеный пункт</option>
									<option value="">1</option>
									<option value="">2</option>
									<option value="">3</option>
									<option value="">4</option>
									<option value="">5</option>
								</select>
							</div>
							<div class="field select">
								<div class="field_name">Улица</div>
								<select name="" id="">
									<option value="">Выберите улицу</option>
									<option value="">1</option>
									<option value="">2</option>
									<option value="">3</option>
									<option value="">4</option>
									<option value="">5</option>
								</select>
							</div>
							<div class="field">
								<div class="field_name">Дом</div>
								<input type="text">
							</div>
							<div class="field">
								<div class="field_name">Корпус / строение</div>
								<input type="text">
							</div>
							<div class="field">
								<div class="field_name">Офис / помещение</div>
								<input type="text">
							</div>
							<div class="field">
								<div class="field_name">Индекс</div>
								<input type="text">
							</div>
							<div class="field checkbox" style="padding: 0;">
								<label>
									<input type="checkbox" checked>
									<i></i><span>Моего адреса нет в списке. Заполню в ручную</span>
								</label>
							</div>
							<button class="btn red save">Создать</button>
						</form>
						<form action="" class="credentials_form yur_form">
							<h3 style="color: #177DF4;">Заполнение данных о контакте получателя товара</h3>
							<div class="field select requared">
								<div class="field_name">Контакт для получения товара на объекте <span>*</span></div>
								<select name="" id="">
									<option value="">Выбрать</option>
									<option value="">1</option>
									<option value="">2</option>
									<option value="">3</option>
									<option value="">4</option>
									<option value="">5</option>
								</select>
							</div>
							<div class="field">
								<button class="btn">Добавить новый контакт</button>
							</div>
							<div class="field">
								<div class="field_name">Фамилия</div>
								<input type="text">
							</div>
							<div class="field">
								<div class="field_name">Имя</div>
								<input type="text">
							</div>
							<div class="field">
								<div class="field_name">Отчество</div>
								<input type="text">
							</div>
							<div class="field">
								<div class="field_name">Электронная почта</div>
								<input type="text">
							</div>
							<div class="field">
								<div class="field_name">Телефон</div>
								<input type="text">
							</div>
							
						</form>
					</div>
				</div>
			</div>						
		</div>
	</div>
include _footer.jade