include _header.jade
	<div class="page_content_wr">
		<div class="block_inner">
			<div class="path_block">
				<a href="/">Главная</a><span>/</span>Личный кабинет
			</div>
			<h1>Личный кабинет</h1>
			<div class="lk_page">
				<div class="left_panel_main">
					<ul>
						<li class="opened"><a href="#">Учетные данные</a></li>
						<li><a href="#">Данные компании</a></li>
						<li><a href="#">Адреса доставки</a></li>
						<li><a href="#">История заказов</a></li>
						<li><a href="#">Документы</a></li>
						<li><a href="#">Доставки</a></li>
						<li><a href="#">Заявки на рекламацию</a></li>
						<li><a href="#">Накопительные акции</a></li>
					</ul>
				</div>
				<div class="right_block_main">
					<h3>Учетные данные</h3>
					<form action="" class="credentials_form yur_form">
						<div class="col_3">
							<div class="field requared">
								<div class="field_name">Ваш логин <span>*</span></div>
								<input type="text" required>
							</div>
							<div class="field requared">
								<div class="field_name">Эл. почта <span>*</span></div>
								<input type="text" required>
							</div>
						</div>
						<div class="col_3">
							<div class="field requared">
								<div class="field_name">Фамилия <span>*</span></div>
								<input type="text" required>
							</div>
							<div class="field requared">
								<div class="field_name">Имя <span>*</span></div>
								<input type="text" required>
							</div>
						</div>
						<div class="col_3">
							<div class="field">
								<div class="field_name">Отчество  <span>*</span></div>
								<input type="text" required>
							</div>
							<div class="field requared">
								<div class="field_name">Телефон <span>*</span></div>
								<input type="text" required>
							</div>
						</div>
						<div class="col_3">
							<div class="field_btn">
								<div class="field checkbox" style="padding: 0;">
									<label>
										<input type="checkbox" checked>
										<i></i><span>Нажимая на кнопку «Зарегистрироваться», я даю согласие на обработку своих персональных данных в соответствии с <a href="#">условиями</a></span>
									</label>
								</div>
								<button class="btn save">Сохранить</button>
							</div>
						</div>
					</form>
					<h3>Маркетинговые уведомления</h3>
					<div class="field checkbox" style="padding: 0;">
						<label>
							<input type="checkbox" checked>
							<i></i><span  style="font-weight: 700;color: #000;">E-mail рассылка</span>
						</label>
					</div>
					<h3>Смена пароля</h3>
					<form action="" class="credentials_form">
						<div class="col_3">
							<div class="field requared">
								<div class="field_name">Новый пароль <span>*</span> </div>
								<input type="password" required>
							</div>
						</div>
						<div class="col_3">
							<div class="field requared">
								<div class="field_name">Подтверждение пароля <span>*</span></div>
								<input type="password" required>
							</div>
						</div>
						<div class="note_lk">Пароль должен содержать не менее 8 символов. <br>Пароль не должен содержать подряд одинаковых символов. <br>Пароль должен содержать хотя бы одну букву и цифру. <br>Пароль не должен содержать имя пользователя.</div>
						<div class="col_3">
							<div class="field_btn">
								<button class="btn save">Сохранить</button>
							</div>
						</div>
					</form>
				</div>
			</div>						
		</div>
	</div>
include _footer.jade