include _header.jade
	<div class="page_content_wr">
		<div class="block_inner">
			<div class="path_block">
				<a href="/">Главная</a><span>/</span>Личный кабинет
			</div>
			<h1>Личный кабинет юр.лиц</h1>
			<div class="lk_page">
				<div class="left_panel_main">
					<ul>
						<li><a href="#">Учетные данные</a></li>
						<li class="opened"><a href="#">Данные компании</a></li>
						<li><a href="#">Адреса доставки</a></li>
						<li><a href="#">История заказов</a></li>
						<li><a href="#">Документы</a></li>
						<li><a href="#">Доставки</a></li>
						<li><a href="#">Заявки на рекламацию</a></li>
						<li><a href="#">Накопительные акции</a></li>
					</ul>
				</div>
				<div class="right_block_main">
					<div class="yur_data_comp">
						<div class="left_data">
							<h3>Данные компании</h3>
							<div class="data_item">
								<div class="name">Наименование организации</div>
								<div class="vall">ООО “СТРОЙПАРК ПАРК-Р”</div>
							</div>
							<div class="data_item">
								<div class="name">Год гос. регистрации организации</div>
								<div class="vall">2008</div>
							</div>
							<div class="data_item">
								<div class="name">ОГРН/ОГРНИП</div>
								<div class="vall">1087017005206</div>
							</div>
							<div class="data_item">
								<div class="name">ИНН</div>
								<div class="vall">5338049830940</div>
							</div>
							<div class="data_item">
								<div class="name">КПП</div>
								<div class="vall">23232434343</div>
							</div>
							<div class="data_item">
								<div class="name">ОКПО</div>
								<div class="vall">89892398932</div>
							</div>
							<div class="data_item">
								<div class="name">ОКВЭД</div>
								<div class="vall">47.19</div>
							</div>
							<div class="data_item">
								<div class="name">Адрес компании</div>
								<div class="vall">Российская федерация, Томская область, Томск, Вершинина ул, 76/2</div>
							</div>
						</div>
						<div class="right_data">
							<div class="inner">
								<h3>Ваш личный менеджер</h3>
								<div class="data_item">
									<div class="name">ФИО:</div>
									<div class="vall">Текеев Рустам Русланович</div>
								</div>
								<div class="data_item">
									<div class="name">Эл. почта</div>
									<div class="vall"><a href="mailto:rp2@tomsk@tomsk.russvet.ru">rp2@tomsk@tomsk.russvet.ru</a></div>
								</div>
							</div>
							<div class="inner">
								<h3>Информация по Соглашению о ценах</h3>
								<div class="data_item">
									<div class="name">Номер СОЦ</div>
									<div class="vall">3949839</div>
								</div>
								<div class="data_item">
									<div class="name">Дата активности СОЦ</div>
									<div class="vall">20.01.2023</div>
								</div>
								<div class="data_item">
									<div class="name red">Склад отгрузки</div>
									<div class="vall">ЦС Новосибирск</div>
								</div>
							</div>
						</div>
					</div>
					<div class="yur_data_limit">
						<div class="limit_data">
							<div class="name">Лимит для резирвирования</div>
							<div class="text">Доступно 5 000 000. 00₽ (из 5 000 000.00₽)</div>
							<div class="progress">
								<div class="progress_inner" style="width: 80%;"></div>
							</div>
						</div>
						<div class="limit_itmes">
							<div class="item">
								<div class="name">Дебиторская задолженность</div>
								<div class="val">0.00₽</div>
							</div>
							<div class="item">
								<div class="name">Дата следующего платежа</div>
								<div class="val">-</div>
							</div>
							<div class="item">
								<div class="name">Просроченная дебиторская задолженность</div>
								<div class="val">0.00₽</div>
							</div>
							<div class="item">
								<div class="name">Срок просрочки (дни)</div>
								<div class="val">-</div>
							</div>
						</div>
					</div>
					<div class="users_yur">
						<h3>Пользователи</h3>
						<div class="users_yur_title">
							<div class="row name">Имя пользователя</div>
							<div class="row email">Эл. почта пользователя</div>
							<div class="row date">Дата регистрации</div>
						</div>
						<div class="users_yur_body">
							<div class="users">
								<div class="row name">ALEXSTROYPARK</div>
								<div class="row email">name@organization.ru</div>
								<div class="row date">06.10.2021</div>
							</div>
						</div>
					</div>
				</div>
			</div>						
		</div>
	</div>
include _footer.jade