include _header.jade
	<div class="slider_top_block">
		<div class="block_inner">
			<div class="slider_main">
				<div class="item" style="background-image: url(files/slider.jpg);">
					<div class="inner">
						<div class="name">Комплексные поставки</div>
						<div class="text">автоматические выключатели и другая продукция</div>
						<a href="#" class="btn white">Узнать больше</a>
					</div>
				</div>
				<div class="item" style="background-image: url(files/slider.jpg);">
					<div class="inner">
						<div class="name">Комплексные поставки</div>
						<div class="text">автоматические выключатели и другая продукция</div>
						<a href="#" class="btn white">Узнать больше</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="popular_products_block">
		<div class="block_inner">
			<div class="title_link">
				<div class="title">Популярные товары</div>
				<a href="#">Все товары</a>
			</div>
			<div class="inner">
				<div class="slider_popular">
					include _product.jade
					include _product.jade
				</div>
			</div>
		</div>
	</div>	
	<div class="popular_products_block">
		<div class="block_inner">
			<div class="title_link">
				<div class="title">Новинки</div>
				<a href="#">Все товары</a>
			</div>
			<div class="inner">
				<div class="slider_new">
					include _product.jade
					include _product.jade
				</div>
			</div>
		</div>
	</div>		
	<div class="popular_products_block">
		<div class="block_inner">
			<div class="title_link">
				<div class="title">Распродажа</div>
				<a href="#">Все товары</a>
			</div>
			<div class="inner">
				<div class="slider_sale">
					include _product.jade
					include _product.jade
				</div>
			</div>
		</div>
	</div>	
	<div class="search_tegs_wr">
		<div class="block_inner">
			<div class="title">Поиск по тегам</div>
			<div class="inner">
				<a href="#">Примерный тег</a>
				<a href="">Еще один тег</a>
				<a href="">Третий тег</a>
				<a href="">Очередной тег</a>
				<a href="">Примерный тег</a>
				<a href="">Еще один тег</a>
				<a href="">Примерный тег</a>
				<a href="">Примерный тег</a>
				<a href="">Третий тег</a>
				<a href="">Третий тег</a>
				<a href="">Третий тег</a>
				<a href="">Третий тег</a>
			</div>
		</div>
	</div>	
	<div class="news_block_wr">
		<div class="block_inner">
			<div class="title_link">
				<div class="title">Акции</div>
				<a href="#">Смотреть все акции</a>
			</div>
			<div class="inner">
				<a href="#" class="item">
					<span class="imag">
						<img src="files/new1.jpg" alt="">
					</span>
					<span class="right">
						<span class="name">Примерный заголовок в две строки</span>
						<span class="date">Срок действия: с 22.05.2022 по 30.05.2022</span>
						<span class="text">После проведения работ, начали пропадать каналы печатной головки. Когда уже пол головы пропало, вызвали инженера.</span>
						<span class="btn black">Подробнее</span>
					</span>
				</a>
				<a href="#" class="item">
					<span class="imag">
						<img src="files/new2.jpg" alt="">
					</span>
					<span class="right">
						<span class="name">Примерный заголовок в две строки</span>
						<span class="date">Срок действия: с 22.05.2022 по 30.05.2022</span>
						<span class="text">После проведения работ, начали пропадать каналы печатной головки. Когда уже пол головы пропало, вызвали инженера.</span>
						<span class="btn black">Подробнее</span>
					</span>
				</a>
			</div>
		</div>
	</div>		
	<div class="ban_block_wr">
		<div class="block_inner">
			<img src="files/new3.jpg" alt="">
		</div>
	</div>
	<div class="reviews_block_wr">
		<div class="block_inner">
			<div class="title_link">
				<div class="title">Рекомендации</div>
				<a href="#" class="btn_review">Оставить отзыв</a>
				<a href="">Все отзывы</a>
			</div>
			<div class="inner">
				<div class="slider_review">
					<div class="item">
						<div class="top_review">
							<div class="image">
								<img src="files/review.png" alt="">
							</div>
							<div class="right">
								<div class="date">12.05.2022</div>
								<div class="name">Василий Петров</div>
							</div>
						</div>
						<div class="text">Ясность нашей позиции очевидна: курс на социально-ориентированный национальный проект играет важную роль в формировании вывода текущих активов. А также явные признаки победы институционализации формируют глобальную экономическую сеть и при этом — описаны максимально подробно.</div>
						<a href="#" class="btn border">Отзыв полностью</a>
						<div class="stars"><div class="star" style="width: 60px;"></div></div>
					</div>
					<div class="item">
						<div class="top_review">
							<div class="image">
								<img src="files/review.png" alt="">
							</div>
							<div class="right">
								<div class="date">12.05.2022</div>
								<div class="name">Василий Петров</div>
							</div>
						</div>
						<div class="text">Ясность нашей позиции очевидна: курс на социально-ориентированный национальный проект играет важную роль в формировании вывода текущих активов. А также явные признаки победы институционализации формируют глобальную экономическую сеть и при этом — описаны максимально подробно.</div>
						<a href="#" class="btn border">Отзыв полностью</a>
						<div class="stars"><div class="star" style="width: 60px;"></div></div>
					</div>
				</div>
			</div>
			<div class="btns">
				<a href="#" class="btn_review">Оставить отзыв</a>
				<a href="">Все отзывы +</a>
			</div>
		</div>
	</div>
	<div class="brend_block_wr">
		<div class="block_inner">
			<div class="title_link">
				<div class="title">Бренды</div>
				<a href="">Все производители</a>
			</div>
			<div class="inner">
				<div class="brend_slider">
					<a href="#" class="item">
						<img src="files/br1.png" alt="">
					</a>
					<a href="#" class="item">
						<img src="files/br2.png" alt="">
					</a>
					<a href="#" class="item">
						<img src="files/br3.png" alt="">
					</a>
					<a href="#" class="item">
						<img src="files/br4.png" alt="">
					</a>
					<a href="#" class="item">
						<img src="files/br5.png" alt="">
					</a>
					<a href="#" class="item">
						<img src="files/br1.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="map_block_wr">
		<div class="block_inner">
			<div class="contacts">
				<div class="title">Наши контакты</div>
				<div class="phone">
					<div class="name">Телефон:</div>
					<a href="tel:+7 (383) 123-45-67">+7 (383) 123-45-67</a>
					<a href="tel:+7 (383) 123-45-67">+7 (383) 123-45-67</a>
				</div>
				<div class="email">
					<div class="name">Эл.почта:</div>
					<a href="mailto:info@company.ru">info@company.ru</a>
				</div>
				<div class="address">
					<div class="name">Адрес:</div>
					<div class="body">630049, Новосибирск примерный адрес</div>
				</div>
			</div>
		</div>
		<div class="map_block">
			<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A06ba0c6c61bf77326647cb32223893634848bbb9a230d8b293c37b750399ec06&amp;source=constructor" width="100%" height="496" frameborder="0"></iframe>
		</div>
	</div>
include _footer.jade