include _header.jade
	<div class="page_content_wr">
		<div class="block_inner">
			<div class="path_block">
				<a href="/">Главная</a><span>/</span><a href="">Каталог товаров</a><span>/</span>Элемент питания солевой "крона" 6F22 9В Heavy Duty 2021 1S DAEWOO 5029217
			</div>
			<h1>Элемент питания солевой "крона" 6F22 9В Heavy Duty 2021 1S DAEWOO 5029217</h1>
			<div class="product_detail_wr">
				<div class="product_detail_images">
					<div class="main_image slider-for">
						<a href="files/prod.jpg" class="item">
							<img src="files/prod.jpg" alt="">
						</a>
						<a href="files/prod.jpg" class="item">
							<img src="files/prod.jpg" alt="">
						</a>
						<a href="files/prod.jpg" class="item">
							<img src="files/prod.jpg" alt="">
						</a>
						<a href="files/prod.jpg" class="item">
							<img src="files/prod.jpg" alt="">
						</a>
						<a href="files/prod.jpg" class="item">
							<img src="files/prod.jpg" alt="">
						</a>
					</div>
					<div class="thumbs_images">
						<div class="thumbs_img slider-nav">
							<div class="item">
								<img src="files/prod.jpg" alt="">
							</div>
							<div class="item">
								<img src="files/prod.jpg" alt="">
							</div>
							<div class="item">
								<img src="files/prod.jpg" alt="">
							</div>
							<div class="item">
								<img src="files/prod.jpg" alt="">
							</div>
							<div class="item">
								<img src="files/prod.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="product_detail_params">
					<div class="name_params">Характеристики</div>
					<ul class="params">
						<li>
							<span>Бренд</span>
							<i></i>
							<strong><a href="">DAEWOO</a></strong>
						</li>
						<li>
							<span>Артикул</span>
							<i></i>
							<strong>123214213</strong>
						</li>
						<li>
							<span>Номинальное направление</span>
							<i></i>
							<strong>9В</strong>
						</li>
						<li>
							<span>Обозначение размера</span>
							<i></i>
							<strong>Четырехгранник</strong>
						</li>
						<li>
							<span>Ширина</span>
							<i></i>
							<strong>17.5 мм</strong>
						</li>
						<li>
							<span>Исполнение</span>
							<i></i>
							<strong>Цинково-угольный</strong>
						</li>
						<li>
							<span>Вес</span>
							<i></i>
							<strong>36 г</strong>
						</li>
						<li>
							<span>IEC (МЭК) обозначение</span>
							<i></i>
							<strong>6F22</strong>
						</li>
						<li>
							<span>Длина</span>
							<i></i>
							<strong>26.5 мм</strong>
						</li>
					</ul>
				</div>
				<div class="product_detail_right">
					<div class="articule">Артикул: 84382948</div>
					<div class="favorite_btn"></div>
					<div class="price_name">Цена:</div>
					<div class="price">
						<strong>от 54 4279 ₽ за 1 шт. </strong>
						<div class="info">
							<div class="info_popup">Минимальное количество товаров от 20 шт.</div>
						</div>
					</div>
					<div class="old_price">5 279 ₽ за 1 шт</div>
					<div class="select_units">
						<div class="name">Единица измерения:</div>
						<div class="label">
							<select name="" id="">
								<option value="УП. 1 шт">УП. 1 шт</option>
								<option value="УП. 1 шт">УП. 1 шт</option>
								<option value="УП. 1 шт">УП. 1 шт</option>
								<option value="УП. 1 шт">УП. 1 шт</option>
								<option value="УП. 1 шт">УП. 1 шт</option>
							</select>
						</div>
						<div class="text">Кратность для заказа (УП. 1шт): 400</div>
					</div>
					<div class="item_bottom">
						<div class="amout_block">
							<button class="minus">-</button>
							<label>
								<input type="text" value="1">
								<span> шт.</span>
							</label>
							<button class="plus">+</button>
						</div>
						<div class="stock yes">В наличии</div>
					</div>
					<button class="btn buy_btn">В корзину</button>
				</div>
			</div>
			<div class="product_detail_body">
				<div class="name">Описание товара</div>
				<div class="body">Неперезаряжаемая солевая батарея типоразмера 9V / "Крона". Ном.напряжение 9В. Упаковка - 1 шт. в термоусадочной пленке. Наиболее эффективна при разряде малыми токами. Неперезаряжаемая солевая батарея типоразмера 9V / "Крона". Ном.напряжение 9В. Упаковка - 1 шт. в термоусадочной пленке. Наиболее эффективна при разряде малыми токами. Неперезаряжаемая солевая батарея типоразмера 9V / "Крона". Ном.напряжение 9В. Упаковка - 1 шт. в термоусадочной пленке. Наиболее эффективна при разряде малыми токами.Неперезаряжаемая солевая батарея типоразмера 9V / "Крона". Ном.напряжение 9В. Упаковка - 1 шт. в термоусадочной пленке. Наиболее эффективна при разряде малыми токами.Неперезаряжаемая солевая батарея типоразмера 9V / "Крона". Ном.напряжение 9В. Упаковка - 1 шт. в термоусадочной пленке. Наиболее эффективна при разряде малыми токами.Неперезаряжаемая солевая батарея типоразмера 9V / "Крона". Ном.напряжение 9В. Упаковка - 1 шт. в термоусадочной пленке. Наиболее эффективна при разряде малыми токами.Неперезаряжаемая солевая батарея типоразмера 9V / "Крона". Ном.напряжение 9В. Упаковка - 1 шт. в термоусадочной пленке. Наиболее эффективна при разряде малыми токами.Неперезаряжаемая солевая батарея типоразмера 9V / "Крона". Ном.напряжение 9В. Упаковка - 1 шт. в термоусадочной пленке. Наиболее эффективна при разряде малыми токами.</div>
			</div>
		</div>
	</div>
	<div class="popular_products_block">
		<div class="block_inner">
			<div class="title_link">
				<div class="title">С этим товаром покупают</div>
			</div>
			<div class="inner">
				<div class="slider_popular">
					include _product.jade
					include _product.jade
				</div>
			</div>
		</div>
	</div>	
	<div class="popular_products_block">
		<div class="block_inner">
			<div class="title_link">
				<div class="title">Похожие товары</div>
			</div>
			<div class="inner">
				<div class="slider_new">
					include _product.jade
				</div>
			</div>
		</div>
	</div>	
include _footer.jade