include _header.jade
	<div class="page_content_wr">
		<div class="block_inner">
			<div class="path_block">
				<a href="/">Главная</a><span>/</span>Регистрация физических лиц
			</div>
			<h1>Регистрация физических лиц</h1>
			<form action="" class="registration_from">
				<div class="col_3">
					<div class="field">
						<div class="field_name">ИНН <span>*</span></div>
						<input type="text" required>
					</div>
					<div class="field requared">
						<div class="field_name">Фамилия <span>*</span></div>
						<input type="text" required>
					</div>
					<div class="field requared">
						<div class="field_name">Имя <span>*</span></div>
						<input type="text" required>
					</div>
				</div>
				<div class="col_3">
					<div class="field requared">
						<div class="field_name">Телефон <span>*</span></div>
						<input type="text" required>
					</div>
					<div class="field requared">
						<div class="field_name">Эл. почта <span>*</span></div>
						<input type="text" required>
					</div>
					<div class="field requared">
						<div class="field_name">Логин <span>*</span></div>
						<input type="text" required>
					</div>
				</div>
				<div class="col_3">
					<div class="field requared">
						<div class="field_name">Пароль <span>*</span> <div class="info"><div class="info_popup">test test</div></div></div>
						<input type="password" required>
					</div>
					<div class="field requared">
						<div class="field_name">Подтверждение пароля <span>*</span></div>
						<input type="password" required>
					</div>
					<div class="field requared">
						<div class="field_name">Адрес доставки <span>*</span></div>
						<input type="text" required>
					</div>
				</div>
				<div class="col_3">
					<div class="field_btn">
						<button class="btn red">Зарегистрироваться</button>
						<div class="field checkbox">
							<label>
								<input type="checkbox" checked>
								<i></i><span>Нажимая на кнопку «Зарегистрироваться», я даю согласие на обработку своих персональных данных в соответствии с <a href="#">условиями</a></span>
							</label>
						</div>
						<div class="field checkbox">
							<label>
								<input type="checkbox" checked>
								<i></i><span>Я хочу получать информацию о скидках и акциях</span>
							</label>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
include _footer.jade