include _header.jade
	<div class="page_content_wr">
		<div class="block_inner">
			<div class="path_block">
				<a href="/">Главная</a><span>/</span>Регистрация физических лиц
			</div>
			<h1>Регистрация физических лиц</h1>
			<form action="" class="registration_from">
				<div class="col_3">
					<div class="field requared">
						<div class="field_name">Фамилия <span>*</span></div>
						<input type="text" required>
					</div>
					<div class="field requared">
						<div class="field_name">Имя <span>*</span></div>
						<input type="text" required>
					</div>
					<div class="field">
						<div class="field_name">Отчество</div>
						<input type="text">
					</div>
				</div>
				<div class="col_3">
					<div class="field requared">
						<div class="field_name">Телефон <span>*</span></div>
						<input type="text" required>
					</div>
					<div class="field requared">
						<div class="field_name">Эл. почта <span>*</span></div>
						<input type="text" required>
					</div>
					<div class="field checkbox">
						<label>
							<input type="checkbox">
							<i></i><span>Разрешить отправку уведомлений</span>
						</label>
					</div>
				</div>
				<div class="col_3">
					<div class="field requared">
						<div class="field_name">Пароль <span>*</span> <div class="info"><div class="info_popup">test test</div></div></div>
						<input type="password" required>
					</div>
					<div class="field requared">
						<div class="field_name">Подтверждение пароля <span>*</span></div>
						<input type="password" required>
					</div>
				</div>
				<div class="col_3">
					<div class="opros_field">
						<div class="opros_name">Опрос</div>
						<div class="opros_text">Укажите род вашей профессиональной деятельности: <span>*</span></div>
						<div class="field radio">
							<ul>
								<li><label><input type="radio" name="op"><i></i><span>Электрик / Электромонтажник</span></label></li>
								<li><label><input type="radio" name="op"><i></i><span>Менеджер / Специалист по снабжению</span></label></li>
								<li><label><input type="radio" name="op"><i></i><span>Частное лицо</span></label></li>
								<li><label><input type="radio" name="op"><i></i><span>Другое</span></label></li>
							</ul>
						</div>
						<div class="field">
							<input type="text">
						</div>
						<div class="node">Товар приобретается для личных нужд и не может быть  использован в предпринимательской деятельности</div>
					</div>
					<div class="field_btn">
						<button class="btn red">Зарегистрироваться</button>
						<div class="field checkbox">
							<label>
								<input type="checkbox" checked>
								<i></i><span>Нажимая на кнопку «Зарегистрироваться», я даю согласие на обработку своих персональных данных в соответствии с <a href="#">условиями</a></span>
							</label>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
include _footer.jade