include _header.jade
	<div class="page_content_wr">
		<div class="block_inner">
			<div class="path_block">
				<a href="/">Главная</a><span>/</span>Оформление заказа
			</div>
			<div class="checkout_order">
				<div class="left_block_main">
					<h1>Оформление заказа</h1>
					<div class="orders_products">
						<div class="orders_title">
							<div class="row name">Описание</div>
							<div class="row amount">Количество</div>
							<div class="row price">Сумма</div>
						</div>
						<div class="order_product">
							<div class="row name">
								<div class="name_mob">Наименование</div>
								<a href="#">Светильник-ночник 018 квадрат датчик освещения 220В IEK LDNN8-018-SQ-P-00-S-K01</a>
								<div class="articule">Артикул: <span>84382948</span></div>
							</div>
							<div class="row amount"><div class="name_mob">Наименование</div> 1</div>
							<div class="row price">
								<div class="name_mob">Стоимость</div> 
								<div class="pr">55600.00</div>
								<span>55600.00 / штука</span>
							</div>
						</div>
						<div class="order_product">
							<div class="row name">
								<div class="name_mob">Наименование</div>
								<a href="#">Светильник-ночник 018 квадрат датчик освещения 220В IEK LDNN8-018-SQ-P-00-S-K01</a>
								<div class="articule">Артикул: <span>84382948</span></div>
							</div>
							<div class="row amount"><div class="name_mob">Наименование</div> 1</div>
							<div class="row price">
								<div class="name_mob">Стоимость</div> 
								<div class="pr">55600.00</div>
								<span>55600.00 / штука</span>
							</div>
						</div>
					</div>
				</div>
				<div class="right_block_main">
					<div class="order_detals">
						<div class="title">История заказов</div>
						<div class="order_info">
							<ul>
								<li><strong>Ф.И.О покупателя:</strong> <span>Василий Петров</span></li>
								<li><strong>Телефон покупателя:</strong> <span>+7 (123) 45-67-89</span></li>
								<li><strong>Адрес доставки:</strong> <span>Новосибирск, ул. Примерная 56</span></li>
								<li><strong>Магазин:</strong> <span>Примерный адрес</span></li>
							</ul>
						</div>
						<div class="title">Итого</div>
						<div class="order_info order_info_summa">
							<ul>
								<li><strong>Скидка:</strong> <span>0.00 рублей</span></li>
								<li><strong>Сумма:</strong> <span>56.000.00 рублей</span></li>
							</ul>
						</div>
						<form>
							<div class="field checkbox">
								<div class="field_name">Выберите способ оплаты*</div>
								<ul>
									<li>
										<label>
											<input type="checkbox">
											<i></i>
											<span>Наличными или оплатой картой в магазине</span>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">
											<i></i>
											<span>Картой онлайн</span>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">
											<i></i>
											<span>Сформировать ссылку на оплату</span>
										</label>
									</li>
								</ul>
							</div>
							<button class="btn red">Оформить заказ</button>
						</form>
					</div>
				</div>
			</div>						
		</div>
	</div>
include _footer.jade